.molecule-lb-510 {
  position: relative;
  opacity: 0;
  transition: opacity .3s ease;
  &.initialized {
    opacity: 1;
  }
  .title h3 {
    font-size: 1.25rem;
    @media screen and (min-width: $bp496) {
      font-size: 1.875rem;
    }
    @media screen and  (min-width: $bp720) and (max-width: $bp800) {
      font-size: 1.5rem;
    }
  }
  .description, 
  .description div, 
  .description p {
    font-size: 1rem;
    @media screen and (min-width: $bp496) {
      font-size: 1.25rem;
    }
  }
  .description {
    @media screen and (max-width: $bp720) {
      margin-top: 0.75rem;
    }
    > *:last-child {
      margin-bottom: 0;
    }
    > *:first-child {
      margin-top: 0;
    }
  }
  .description, .title {
    max-width: $bp720;
    margin-left: auto;
    margin-right: auto;
  }
  .expand-collapse-wrapper {
    display: none;
  }
  .img-wrapper {
    line-height: 0;
    background-size: cover;
    position: relative;
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  + .molecule-lb-501 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    a.play {
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width: $bp720) {
    .content {
      padding: 40px 20px 10px 20px;
    }
  }
  @media screen and (max-width: $bp496) {
    .content {
      padding: 25px 20px 0px 20px;
    }
  }
  @media screen and (min-width: $bp720) {
    .content {
      padding: 25px 20px 0px 20px;
    }
  }
  @media screen and (min-width: $bp800 + 1px) {
    .content {
      padding: 43px;
    }
  }
  @media screen and (min-width: $bp1280 + 1px) and (max-width: $bp1280 + 20px) {
    .content {
      padding: 25px 20px 0px 20px;
    }
    .title h3 {
      font-size: 1.5rem;
    }
  }
}
.collage-layout .slick-slide {
  position: relative;
}
#body .collage-layout {
  .molecule-lb-510 {
    @media screen and (max-width: $bp720 - 1px) {
      &.font-color-theme1 {
        .title *, .content:after {
          color: $color-black;
        }
        .description, .description * {
          color: $color-dark-grey;
        }
      }
    }
  }
  @media screen and (min-width: $bp720) {
    .molecule-lb-510 {
      height: 100%;
      .tile, .img-wrapper {
        height: 100%;
      }
      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        transition: background-color .3s ease;
        * {
          transition: color .3s ease;
        }
        &:after {
          pointer-events: none;
          margin-top: 11px;
          content: $icon-plus;
          color: $color-black;
          font-size: 50px;
          width: 50px;
          height: 50px;
          display: none;
          font-family: 'HPIFlex2Icons';
          speak: none;
          padding: 0;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transition: transform .3s ease, opacity .3s ease, color 0s ease, margin-top .1s ease;
        }
        .expand-collapse-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          display: inline-block;
        }
      }
      .description-wrapper {
        display: none;
      }
      .description {
        opacity: 0;
        margin-top: 20px;
        > *:last-child {
          margin-bottom: 0;
        }
      }
      .img-wrapper {
        img {
          opacity: 0;
        }
      }
      &.initialized.with-icon {
        .content:after {
          display: inline-block;
          margin-top: 22px;
        }
        .description {
          transition: color .3s ease;
        }
        &.active {
          .content {
            background-color: rgba(255,255,255, 0.95);
            *, &:after {
              transition: transform .3s ease, opacity .3s ease, color .3s ease, margin-top .1s ease;
              color: $color-black;
            }
          }
          .description {
            transition-delay: 0s;
            transition: color .3s ease;
            color: $color-dark-grey;
            * {
              color: $color-dark-grey;
            }
          }
          .content:after {
            transform: rotate(45deg);
          }
          &:hover {
            .content:after {
              transform: rotate(45deg) scale(1.1);
            }
          }
        }
        &:hover {
          .content:after {
            transform: scale(1.1);
          }
        }
      }
      &:not(.with-icon) {
        .expand-collapse-wrapper {
          display: none;
        }
      }
      &.font-color-theme1 {
        .content {
          &:after {
            color: $color-white;
          }
        }
      }
    }
  }
}