.section[class*="segment-"], .flex2-molecule[class*="segment-"] {
  transition: opacity .3s ease;
}
.section[class*="segment-"]:not(.activated-segment),
.flex2-molecule[class*="segment-"]:not(.activated-segment) {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
}