@font-face {
  font-family: 'HPIFlex2Icons';
  src:  url('fonts/HPIFlex2Icons-eot.eot?elzuif');
  src:  url('fonts/HPIFlex2Icons-eot.eot?elzuif#iefix') format('embedded-opentype'),
    url('fonts/HPIFlex2Icons-ttf.ttf?elzuif') format('truetype'),
    url('fonts/HPIFlex2Icons-woff.woff?elzuif') format('woff'),
    url('fonts/HPIFlex2Icons-svg.svg?elzuif#HPIFlex2Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'HPIFlex2Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\41";
}
.icon-info:before {
  content: "\42";
}
.icon-cloud-circle:before {
  content: "\43";
}
.icon-mob:before {
  content: "\44";
}
.icon-android:before {
  content: "\45";
}
.icon-arr-up:before {
  content: "\46";
}
.icon-phrase:before {
  content: "\47";
}
.icon-paper:before {
  content: "\48";
}
.icon-people:before {
  content: "\49";
}
.icon-key:before {
  content: "\4a";
}
.icon-lock:before {
  content: "\4b";
}
.icon-mob-shield:before {
  content: "\4c";
}
.icon-video-play:before {
  content: "\4d";
}
.icon-notes:before {
  content: "\4e";
}
.icon-desc-mob:before {
  content: "\4f";
}
.icon-bug-shield:before {
  content: "\50";
}
.icon-download:before {
  content: "\51";
}
.icon-checkmark:before {
  content: "\52";
}
.icon-chart:before {
  content: "\61";
}
.icon-money:before {
  content: "\62";
}
.icon-devices:before {
  content: "\63";
}
.icon-shield-keyhole:before {
  content: "\64";
}
.icon-windows:before {
  content: "\65";
}
.icon-mob-tablet:before {
  content: "\66";
}
.icon-charge:before {
  content: "\67";
}
.icon-who:before {
  content: "\68";
}
.icon-letter:before {
  content: "\69";
}
.icon-target-plus:before {
  content: "\6a";
}
.icon-mob-circle:before {
  content: "\6b";
}
.icon-cloud-tool:before {
  content: "\6c";
}
.icon-dots-circle:before {
  content: "\6d";
}
.icon-rectangle-arr:before {
  content: "\6e";
}
.icon-logo:before {
  content: "\6f";
}
.icon-monitor:before {
  content: "\70";
}
.icon-wifi:before {
  content: "\71";
}
.icon-bell:before {
  content: "\72";
}
.icon-footprint:before {
  content: "\e600";
}
.icon-protection:before {
  content: "\e601";
}
.icon-availability:before {
  content: "\e602";
}
.icon-easy-setup:before {
  content: "\e603";
}
.icon-transportation:before {
  content: "\e604";
}
.icon-manufacturing:before {
  content: "\e605";
}
.icon-security:before {
  content: "\e606";
}
.icon-education:before {
  content: "\e607";
}
.icon-search:before {
  content: "\e608";
}
.icon-get-started:before {
  content: "\e609";
}
.icon-dashboard:before {
  content: "\e60a";
}
.icon-management:before {
  content: "\e60b";
}
.icon-view:before {
  content: "\e60c";
}
.icon-scalability:before {
  content: "\e60d";
}
.icon-low-cost:before {
  content: "\e60e";
}
.icon-full-search:before {
  content: "\e60f";
}
.icon-collection:before {
  content: "\e610";
}
.icon-public-sector:before {
  content: "\e611";
}
.icon-healthcare:before {
  content: "\e612";
}
.icon-finance:before {
  content: "\e613";
}
.icon-synthetic-monitoring:before {
  content: "\e614";
}
.icon-portfolio-management:before {
  content: "\e615";
}
.icon-service-management:before {
  content: "\e616";
}
.icon-real-financial:before {
  content: "\e617";
}
.icon-real-monitoring:before {
  content: "\e618";
}
.icon-property:before {
  content: "\e619";
}
.icon-delivery-options:before {
  content: "\e61a";
}
.icon-it:before {
  content: "\e61b";
}
.icon-hospitality:before {
  content: "\e61c";
}
.icon-free-evaluation:before {
  content: "\e61d";
}
.icon-flexible-policy:before {
  content: "\e61e";
}
.icon-resource-management:before {
  content: "\e61f";
}
.icon-diagnostics:before {
  content: "\e620";
}
.icon-entertainment:before {
  content: "\e621";
}
.icon-consolidated-management:before {
  content: "\e622";
}
.icon-threat-protection:before {
  content: "\e623";
}
.icon-visibility:before {
  content: "\e624";
}
.icon-portfolio-optimization:before {
  content: "\e625";
}
.icon-view-360:before {
  content: "\e626";
}
.icon-thirty-trial:before {
  content: "\e627";
}
.icon-thirty-free:before {
  content: "\e628";
}
.icon-software-management:before {
  content: "\e629";
}
.icon-soft-engineering:before {
  content: "\e62a";
}
.icon-deployment:before {
  content: "\e62b";
}
.icon-catalog:before {
  content: "\e62c";
}
.icon-reusable:before {
  content: "\e62d";
}
.icon-provisioning:before {
  content: "\e62e";
}
.icon-singlesolution:before {
  content: "\e62f";
}
.icon-voice:before {
  content: "\e630";
}
.icon-lifecycle:before {
  content: "\e631";
}
.icon-automation-fast:before {
  content: "\e632";
}
.icon-secure:before {
  content: "\e633";
}
.icon-easy-use:before {
  content: "\e634";
}
.icon-dragdrop:before {
  content: "\e635";
}
.icon-download2:before {
  content: "\e636";
}
.icon-testing:before {
  content: "\e637";
}
.icon-configuration:before {
  content: "\e638";
}
.icon-communications:before {
  content: "\e639";
}
.icon-change-management:before {
  content: "\e63a";
}
.icon-central-service:before {
  content: "\e63b";
}
.icon-auto-patch:before {
  content: "\e63c";
}
.icon-nav-big-data:before {
  content: "\e63d";
}
.icon-nav-businessservice:before {
  content: "\e63e";
}
.icon-asset:before {
  content: "\e63f";
}
.icon-nav-home:before {
  content: "\e640";
}
.icon-nav-lifecycle:before {
  content: "\e641";
}
.icon-virtualization:before {
  content: "\e642";
}
.icon-nav-security:before {
  content: "\e643";
}
.icon-big-security:before {
  content: "\e644";
}
.icon-compress-storage:before {
  content: "\e645";
}
.icon-detection:before {
  content: "\e646";
}
.icon-automation:before {
  content: "\e647";
}
.icon-nav-software-service:before {
  content: "\e648";
}
.icon-adv-security:before {
  content: "\e649";
}
.icon-virtual-performance:before {
  content: "\e64a";
}
.icon-virtual-optimization:before {
  content: "\e64b";
}
.icon-user-monitor:before {
  content: "\e64c";
}
.icon-tech-support:before {
  content: "\e64d";
}
.icon-sprawl:before {
  content: "\e64e";
}
.icon-max-performance:before {
  content: "\e64f";
}
.icon-live-threat:before {
  content: "\e650";
}
.icon-interactive:before {
  content: "\e651";
}
.icon-global-test:before {
  content: "\e652";
}
.icon-end-to-end:before {
  content: "\e653";
}
.icon-easy-deployment:before {
  content: "\e654";
}
.icon-document:before {
  content: "\e655";
}
.icon-data-security:before {
  content: "\e656";
}
.icon-availability-fault:before {
  content: "\e657";
}
.icon-app-diagnostics:before {
  content: "\e658";
}
.icon-telecom:before {
  content: "\e659";
}
.icon-step-by-step:before {
  content: "\e65a";
}
.icon-script-monitoring:before {
  content: "\e65b";
}
.icon-report:before {
  content: "\e65c";
}
.icon-mobile-test:before {
  content: "\e65d";
}
.icon-project-tracking:before {
  content: "\e65e";
}
.icon-overview:before {
  content: "\e65f";
}
.icon-eye:before {
  content: "\e660";
}
.icon-cloud-search:before {
  content: "\e661";
}
.icon-cloud-isolation:before {
  content: "\e662";
}
.icon-solution:before {
  content: "\e663";
}
.icon-service-health:before {
  content: "\e664";
}
.icon-retail:before {
  content: "\e665";
}
.icon-project-management:before {
  content: "\e666";
}
.icon-monitor-automation:before {
  content: "\e667";
}
.icon-library:before {
  content: "\e668";
}
.icon-gaming:before {
  content: "\e669";
}
.icon-gamification:before {
  content: "\e66a";
}
.icon-deployment-solutions:before {
  content: "\e66b";
}
.icon-correlation:before {
  content: "\e66c";
}
.icon-connector:before {
  content: "\e66d";
}
.icon-out-of-box:before {
  content: "\e66e";
}
.icon-best-portfolio:before {
  content: "\e66f";
}
.icon-asset-share:before {
  content: "\e670";
}
.icon-debugger:before {
  content: "\e671";
}
.icon-insight:before {
  content: "\e672";
}
.icon-single-test:before {
  content: "\e673";
}
.icon-network-test:before {
  content: "\e674";
}
.icon-fast-search:before {
  content: "\e675";
}
.icon-balance-performance:before {
  content: "\e676";
}
.icon-advertising:before {
  content: "\e677";
}
.icon-mobile-tablet:before {
  content: "\e678";
}
.icon-insurance:before {
  content: "\e679";
}
.icon-index:before {
  content: "\e67a";
}
.icon-auto-service:before {
  content: "\e67b";
}
.icon-analyze:before {
  content: "\e67c";
}
.icon-product:before {
  content: "\e67d";
}
.icon-people2:before {
  content: "\e67e";
}
.icon-wizard:before {
  content: "\e67f";
}
.icon-why:before {
  content: "\e680";
}
.icon-it-service2:before {
  content: "\e681";
}
.icon-free-tool:before {
  content: "\e682";
}
.icon-ecom-marketing:before {
  content: "\e683";
}
.icon-vulnerability:before {
  content: "\e684";
}
.icon-performance:before {
  content: "\e685";
}
.icon-integration:before {
  content: "\e686";
}
.icon-service-exchange:before {
  content: "\e687";
}
.icon-multiview:before {
  content: "\e688";
}
.icon-monitor2:before {
  content: "\e689";
}
.icon-mobile-analysis:before {
  content: "\e68a";
}
.icon-log-monitoring:before {
  content: "\e68b";
}
.icon-knowledge:before {
  content: "\e68c";
}
.icon-intuitive:before {
  content: "\e68d";
}
.icon-error:before {
  content: "\e68e";
}
.icon-compliance:before {
  content: "\e68f";
}
.icon-vm-cloud:before {
  content: "\e690";
}
.icon-mobile-detect:before {
  content: "\e691";
}
.icon-manual-testing:before {
  content: "\e692";
}
.icon-manual-auto-testing:before {
  content: "\e693";
}
.icon-flex-globe:before {
  content: "\e694";
}
.icon-business-testing:before {
  content: "\e695";
}
.icon-auto-testing:before {
  content: "\e696";
}
.icon-web-interface:before {
  content: "\e697";
}
.icon-studio:before {
  content: "\e698";
}
.icon-spiral:before {
  content: "\e699";
}
.icon-software-security:before {
  content: "\e69a";
}
.icon-smart-plugin:before {
  content: "\e69b";
}
.icon-intelligence:before {
  content: "\e69c";
}
.icon-user-setup:before {
  content: "\e69d";
}
.icon-topic:before {
  content: "\e69e";
}
.icon-threat-central:before {
  content: "\e69f";
}
.icon-started-data:before {
  content: "\e6a0";
}
.icon-heterogeneous:before {
  content: "\e6a1";
}
.icon-outreach:before {
  content: "\e6a2";
}
.icon-simplicity:before {
  content: "\e6a3";
}
.icon-privacy:before {
  content: "\e6a4";
}
.icon-map:before {
  content: "\e6a5";
}
.icon-energy:before {
  content: "\e6a6";
}
.icon-access:before {
  content: "\e6a7";
}
.icon-program:before {
  content: "\e6a8";
}
.icon-multi-training:before {
  content: "\e6a9";
}
.icon-multi-curriculum:before {
  content: "\e6aa";
}
.icon-instructor:before {
  content: "\e6ab";
}
.icon-global-solution:before {
  content: "\e6ac";
}
.icon-connect-security:before {
  content: "\e6ad";
}
.icon-capacity:before {
  content: "\e6ae";
}
.icon-UNIX-monitoring:before {
  content: "\e6af";
}
.icon-manage-security:before {
  content: "\e6b0";
}
.icon-cloud-service2:before {
  content: "\e6b1";
}
.icon-aggregate-catalog:before {
  content: "\e6b2";
}
.icon-security-key:before {
  content: "\e6b3";
}
.icon-pay-security:before {
  content: "\e6b4";
}
.icon-info-secutiry:before {
  content: "\e6b5";
}
.icon-cloud-security:before {
  content: "\e6b6";
}
.icon-utility:before {
  content: "\e6b7";
}
.icon-security-intelligence:before {
  content: "\e6b8";
}
.icon-secure-id:before {
  content: "\e6b9";
}
.icon-identify:before {
  content: "\e6ba";
}
.icon-gavel:before {
  content: "\e6bb";
}
.icon-fast:before {
  content: "\e6bc";
}
.icon-app-monitoring:before {
  content: "\e6bd";
}
.icon-multi-industries:before {
  content: "\e6be";
}
.icon-discovery:before {
  content: "\e6bf";
}
.icon-self-service:before {
  content: "\e6c0";
}
.icon-social:before {
  content: "\e6c1";
}
.icon-asset-management:before {
  content: "\e6c2";
}
.icon-asset-portfolio:before {
  content: "\e6c3";
}
.icon-asset-view:before {
  content: "\e6c4";
}
.icon-auto-discovery:before {
  content: "\e6c5";
}
.icon-central-contract:before {
  content: "\e6c6";
}
.icon-cloud-chargeback:before {
  content: "\e6c7";
}
.icon-it-interface:before {
  content: "\e6c8";
}
.icon-procurement:before {
  content: "\e6c9";
}
.icon-professional:before {
  content: "\e6ca";
}
.icon-database-compliance:before {
  content: "\e6cb";
}
.icon-risk-reduction:before {
  content: "\e6cc";
}
.icon-confidence:before {
  content: "\e6cd";
}
.icon-portfolio:before {
  content: "\e6ce";
}
.icon-requirement-manage:before {
  content: "\e6cf";
}
.icon-why-hp:before {
  content: "\e6d0";
}
.icon-it-service:before {
  content: "\e6d1";
}
.icon-walk-through:before {
  content: "\e6d2";
}
.icon-efficiency:before {
  content: "\e6d3";
}
.icon-database-provision:before {
  content: "\e6d4";
}
.icon-database-release:before {
  content: "\e6d5";
}
.icon-display2:before {
  content: "\e6d6";
}
.icon-flex-model:before {
  content: "\e6d7";
}
.icon-flex:before {
  content: "\e6d8";
}
.icon-platform-support:before {
  content: "\e6d9";
}
.icon-program-monitor:before {
  content: "\e6da";
}
.icon-server-patch:before {
  content: "\e6db";
}
.icon-server-provision:before {
  content: "\e6dc";
}
.icon-vendor-security:before {
  content: "\e6dd";
}
.icon-workbench:before {
  content: "\e6de";
}
.icon-secure-lifecycle:before {
  content: "\e6df";
}
.icon-open-source-test:before {
  content: "\e6e0";
}
.icon-display:before {
  content: "\e6e1";
}
.icon-professional-service:before {
  content: "\e6e2";
}
.icon-app-testing:before {
  content: "\e6e3";
}
.icon-app-development:before {
  content: "\e6e4";
}
.icon-uptime:before {
  content: "\e6e5";
}
.icon-helion-portfolio:before {
  content: "\e6e6";
}
.icon-cloud-toolset:before {
  content: "\e6e7";
}
.icon-auto-lifecycle:before {
  content: "\e6e8";
}
.icon-it-cloud-service:before {
  content: "\e6e9";
}
.icon-full-stack:before {
  content: "\e6ea";
}
.icon-cloud-service:before {
  content: "\e6eb";
}
.icon-value:before {
  content: "\e6ec";
}
.icon-last-08:before {
  content: "\e6ed";
}
.icon-global-support:before {
  content: "\e6ee";
}
.icon-personalized-service:before {
  content: "\e6ef";
}
.icon-open-resource:before {
  content: "\e6f0";
}
.icon-virtualize-test:before {
  content: "\e6f1";
}
.icon-cloud-test:before {
  content: "\e6f2";
}
.icon-vm-placement:before {
  content: "\e6f3";
}
.icon-account:before {
  content: "\e6f4";
}
.icon-time-value:before {
  content: "\e6f5";
}
.icon-multi-device:before {
  content: "\e6f6";
}
.icon-features:before {
  content: "\e6f7";
}
.icon-down:before {
  content: "\e6f8";
}
.icon-left:before {
  content: "\e6f9";
}
.icon-right:before {
  content: "\e6fa";
}
.icon-up:before {
  content: "\e6fb";
}
.icon-plus:before {
  content: "\e6fc";
}
.icon-download-1:before {
  content: "\e6fd";
}
.icon-video-ent:before {
  content: "\e6fe";
}
.icon-americas:before {
  content: "\e6ff";
}
.icon-apj:before {
  content: "\e700";
}
.icon-emea:before {
  content: "\e701";
}
.icon-global:before {
  content: "\e702";
}
.icon-close:before {
  content: "\e703";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-glassdoor:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-video-play-icon-hpi:before {
  content: "\e906";
}
.icon-facebook-invert:before {
  content: "\e907";
}
.icon-nav-bgov:before {
  content: "\e908";
}
.icon-google-invert:before {
  content: "\e909";
}
.icon-instagram-invert:before {
  content: "\e90a";
}
.icon-linkedin-invert:before {
  content: "\e90b";
}
.icon-pinterest-invert:before {
  content: "\e90c";
}
.icon-share-invert:before {
  content: "\e90d";
}
.icon-twitter-invert:before {
  content: "\e90e";
}
.icon-youtube-invert:before {
  content: "\e90f";
}
.icon-share-transparent:before {
  content: "\e910";
}
.icon-labs-blogs:before {
  content: "\e911";
}
.icon-blog:before {
  content: "\e912";
}
.icon-contact:before {
  content: "\e913";
}
.icon-press-kits:before {
  content: "\e914";
}
.icon-labs-innovation:before {
  content: "\e915";
}
.icon-labs-research:before {
  content: "\e916";
}
.icon-labs-careers:before {
  content: "\e917";
}
.icon-press-release:before {
  content: "\e918";
}
.icon-twitter-no-border:before {
  content: "\e919";
}
.icon-careers-search:before {
  content: "\e91a";
}
.icon-careers-working:before {
  content: "\e91b";
}
.icon-careers-faq:before {
  content: "\e91c";
}
.icon-careers-signin:before {
  content: "\e91d";
}
.icon-careers-link-discount:before {
  content: "\e91e";
}
.icon-careers-link-epp:before {
  content: "\e91f";
}
.icon-careers-link-support:before {
  content: "\e920";
}
.icon-premium-helpdesk:before {
  content: "\e921";
}
.icon-large-format:before {
  content: "\e922";
}
.icon-ink-paper:before {
  content: "\e923";
}
.icon-control:before {
  content: "\e924";
}
.icon-wechat:before {
  content: "\e925";
}
.icon-email:before {
  content: "\e926";
}
.icon-geo-pin:before {
  content: "\e927";
}
.icon-phone:before {
  content: "\e928";
}
.icon-labs:before {
  content: "\e929";
}

.icon-labs:before {
  content: "\e929";
}
.icon-diversity-careers:before {
  content: "\e92b";
}
.icon-diversity-ourculture:before {
  content: "\e92c";
}
.icon-diversity-ourvision:before {
  content: "\e92d";
}
.icon-diversity-whoweare:before {
  content: "\e92e";
}
.icon-diversity-media:before {
  content: "\e92a";
}
.icon-products:before {
  content: "\e92f";
}
.icon-applications:before {
  content: "\e930";
}
.icon-scitex-press:before {
  content: "\e931";
}
.icon-pagewidepress:before {
  content: "\e932";
}