@import "variables";

@font-face {
  font-family: 'HPIFlex2Icons';
  src:  url('#{$icomoon-font-path}/HPIFlex2Icons-eot.eot?elzuif');
  src:  url('#{$icomoon-font-path}/HPIFlex2Icons-eot.eot?elzuif#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/HPIFlex2Icons-ttf.ttf?elzuif') format('truetype'),
    url('#{$icomoon-font-path}/HPIFlex2Icons-woff.woff?elzuif') format('woff'),
    url('#{$icomoon-font-path}/HPIFlex2Icons-svg.svg?elzuif#HPIFlex2Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'HPIFlex2Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-cloud-circle {
  &:before {
    content: $icon-cloud-circle;
  }
}
.icon-mob {
  &:before {
    content: $icon-mob;
  }
}
.icon-android {
  &:before {
    content: $icon-android;
  }
}
.icon-arr-up {
  &:before {
    content: $icon-arr-up;
  }
}
.icon-phrase {
  &:before {
    content: $icon-phrase;
  }
}
.icon-paper {
  &:before {
    content: $icon-paper;
  }
}
.icon-people {
  &:before {
    content: $icon-people;
  }
}
.icon-key {
  &:before {
    content: $icon-key;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-mob-shield {
  &:before {
    content: $icon-mob-shield;
  }
}
.icon-video-play {
  &:before {
    content: $icon-video-play;
  }
}
.icon-notes {
  &:before {
    content: $icon-notes;
  }
}
.icon-desc-mob {
  &:before {
    content: $icon-desc-mob;
  }
}
.icon-bug-shield {
  &:before {
    content: $icon-bug-shield;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-chart {
  &:before {
    content: $icon-chart;
  }
}
.icon-money {
  &:before {
    content: $icon-money;
  }
}
.icon-devices {
  &:before {
    content: $icon-devices;
  }
}
.icon-shield-keyhole {
  &:before {
    content: $icon-shield-keyhole;
  }
}
.icon-windows {
  &:before {
    content: $icon-windows;
  }
}
.icon-mob-tablet {
  &:before {
    content: $icon-mob-tablet;
  }
}
.icon-charge {
  &:before {
    content: $icon-charge;
  }
}
.icon-who {
  &:before {
    content: $icon-who;
  }
}
.icon-letter {
  &:before {
    content: $icon-letter;
  }
}
.icon-target-plus {
  &:before {
    content: $icon-target-plus;
  }
}
.icon-mob-circle {
  &:before {
    content: $icon-mob-circle;
  }
}
.icon-cloud-tool {
  &:before {
    content: $icon-cloud-tool;
  }
}
.icon-dots-circle {
  &:before {
    content: $icon-dots-circle;
  }
}
.icon-rectangle-arr {
  &:before {
    content: $icon-rectangle-arr;
  }
}
.icon-logo {
  &:before {
    content: $icon-logo;
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor;
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-footprint {
  &:before {
    content: $icon-footprint;
  }
}
.icon-protection {
  &:before {
    content: $icon-protection;
  }
}
.icon-availability {
  &:before {
    content: $icon-availability;
  }
}
.icon-easy-setup {
  &:before {
    content: $icon-easy-setup;
  }
}
.icon-transportation {
  &:before {
    content: $icon-transportation;
  }
}
.icon-manufacturing {
  &:before {
    content: $icon-manufacturing;
  }
}
.icon-security {
  &:before {
    content: $icon-security;
  }
}
.icon-education {
  &:before {
    content: $icon-education;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-get-started {
  &:before {
    content: $icon-get-started;
  }
}
.icon-dashboard {
  &:before {
    content: $icon-dashboard;
  }
}
.icon-management {
  &:before {
    content: $icon-management;
  }
}
.icon-view {
  &:before {
    content: $icon-view;
  }
}
.icon-scalability {
  &:before {
    content: $icon-scalability;
  }
}
.icon-low-cost {
  &:before {
    content: $icon-low-cost;
  }
}
.icon-full-search {
  &:before {
    content: $icon-full-search;
  }
}
.icon-collection {
  &:before {
    content: $icon-collection;
  }
}
.icon-public-sector {
  &:before {
    content: $icon-public-sector;
  }
}
.icon-healthcare {
  &:before {
    content: $icon-healthcare;
  }
}
.icon-finance {
  &:before {
    content: $icon-finance;
  }
}
.icon-synthetic-monitoring {
  &:before {
    content: $icon-synthetic-monitoring;
  }
}
.icon-portfolio-management {
  &:before {
    content: $icon-portfolio-management;
  }
}
.icon-service-management {
  &:before {
    content: $icon-service-management;
  }
}
.icon-real-financial {
  &:before {
    content: $icon-real-financial;
  }
}
.icon-real-monitoring {
  &:before {
    content: $icon-real-monitoring;
  }
}
.icon-property {
  &:before {
    content: $icon-property;
  }
}
.icon-delivery-options {
  &:before {
    content: $icon-delivery-options;
  }
}
.icon-it {
  &:before {
    content: $icon-it;
  }
}
.icon-hospitality {
  &:before {
    content: $icon-hospitality;
  }
}
.icon-free-evaluation {
  &:before {
    content: $icon-free-evaluation;
  }
}
.icon-flexible-policy {
  &:before {
    content: $icon-flexible-policy;
  }
}
.icon-resource-management {
  &:before {
    content: $icon-resource-management;
  }
}
.icon-diagnostics {
  &:before {
    content: $icon-diagnostics;
  }
}
.icon-entertainment {
  &:before {
    content: $icon-entertainment;
  }
}
.icon-consolidated-management {
  &:before {
    content: $icon-consolidated-management;
  }
}
.icon-threat-protection {
  &:before {
    content: $icon-threat-protection;
  }
}
.icon-visibility {
  &:before {
    content: $icon-visibility;
  }
}
.icon-portfolio-optimization {
  &:before {
    content: $icon-portfolio-optimization;
  }
}
.icon-view-360 {
  &:before {
    content: $icon-view-360;
  }
}
.icon-thirty-trial {
  &:before {
    content: $icon-thirty-trial;
  }
}
.icon-thirty-free {
  &:before {
    content: $icon-thirty-free;
  }
}
.icon-software-management {
  &:before {
    content: $icon-software-management;
  }
}
.icon-soft-engineering {
  &:before {
    content: $icon-soft-engineering;
  }
}
.icon-deployment {
  &:before {
    content: $icon-deployment;
  }
}
.icon-catalog {
  &:before {
    content: $icon-catalog;
  }
}
.icon-reusable {
  &:before {
    content: $icon-reusable;
  }
}
.icon-provisioning {
  &:before {
    content: $icon-provisioning;
  }
}
.icon-singlesolution {
  &:before {
    content: $icon-singlesolution;
  }
}
.icon-voice {
  &:before {
    content: $icon-voice;
  }
}
.icon-lifecycle {
  &:before {
    content: $icon-lifecycle;
  }
}
.icon-automation-fast {
  &:before {
    content: $icon-automation-fast;
  }
}
.icon-secure {
  &:before {
    content: $icon-secure;
  }
}
.icon-easy-use {
  &:before {
    content: $icon-easy-use;
  }
}
.icon-dragdrop {
  &:before {
    content: $icon-dragdrop;
  }
}
.icon-download2 {
  &:before {
    content: $icon-download2;
  }
}
.icon-testing {
  &:before {
    content: $icon-testing;
  }
}
.icon-configuration {
  &:before {
    content: $icon-configuration;
  }
}
.icon-communications {
  &:before {
    content: $icon-communications;
  }
}
.icon-change-management {
  &:before {
    content: $icon-change-management;
  }
}
.icon-central-service {
  &:before {
    content: $icon-central-service;
  }
}
.icon-auto-patch {
  &:before {
    content: $icon-auto-patch;
  }
}
.icon-nav-big-data {
  &:before {
    content: $icon-nav-big-data;
  }
}
.icon-nav-businessservice {
  &:before {
    content: $icon-nav-businessservice;
  }
}
.icon-asset {
  &:before {
    content: $icon-asset;
  }
}
.icon-nav-home {
  &:before {
    content: $icon-nav-home;
  }
}
.icon-nav-lifecycle {
  &:before {
    content: $icon-nav-lifecycle;
  }
}
.icon-virtualization {
  &:before {
    content: $icon-virtualization;
  }
}
.icon-nav-security {
  &:before {
    content: $icon-nav-security;
  }
}
.icon-big-security {
  &:before {
    content: $icon-big-security;
  }
}
.icon-compress-storage {
  &:before {
    content: $icon-compress-storage;
  }
}
.icon-detection {
  &:before {
    content: $icon-detection;
  }
}
.icon-automation {
  &:before {
    content: $icon-automation;
  }
}
.icon-nav-software-service {
  &:before {
    content: $icon-nav-software-service;
  }
}
.icon-adv-security {
  &:before {
    content: $icon-adv-security;
  }
}
.icon-virtual-performance {
  &:before {
    content: $icon-virtual-performance;
  }
}
.icon-virtual-optimization {
  &:before {
    content: $icon-virtual-optimization;
  }
}
.icon-user-monitor {
  &:before {
    content: $icon-user-monitor;
  }
}
.icon-tech-support {
  &:before {
    content: $icon-tech-support;
  }
}
.icon-sprawl {
  &:before {
    content: $icon-sprawl;
  }
}
.icon-max-performance {
  &:before {
    content: $icon-max-performance;
  }
}
.icon-live-threat {
  &:before {
    content: $icon-live-threat;
  }
}
.icon-interactive {
  &:before {
    content: $icon-interactive;
  }
}
.icon-global-test {
  &:before {
    content: $icon-global-test;
  }
}
.icon-end-to-end {
  &:before {
    content: $icon-end-to-end;
  }
}
.icon-easy-deployment {
  &:before {
    content: $icon-easy-deployment;
  }
}
.icon-document {
  &:before {
    content: $icon-document;
  }
}
.icon-data-security {
  &:before {
    content: $icon-data-security;
  }
}
.icon-availability-fault {
  &:before {
    content: $icon-availability-fault;
  }
}
.icon-app-diagnostics {
  &:before {
    content: $icon-app-diagnostics;
  }
}
.icon-telecom {
  &:before {
    content: $icon-telecom;
  }
}
.icon-step-by-step {
  &:before {
    content: $icon-step-by-step;
  }
}
.icon-script-monitoring {
  &:before {
    content: $icon-script-monitoring;
  }
}
.icon-report {
  &:before {
    content: $icon-report;
  }
}
.icon-mobile-test {
  &:before {
    content: $icon-mobile-test;
  }
}
.icon-project-tracking {
  &:before {
    content: $icon-project-tracking;
  }
}
.icon-overview {
  &:before {
    content: $icon-overview;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-cloud-search {
  &:before {
    content: $icon-cloud-search;
  }
}
.icon-cloud-isolation {
  &:before {
    content: $icon-cloud-isolation;
  }
}
.icon-solution {
  &:before {
    content: $icon-solution;
  }
}
.icon-service-health {
  &:before {
    content: $icon-service-health;
  }
}
.icon-retail {
  &:before {
    content: $icon-retail;
  }
}
.icon-project-management {
  &:before {
    content: $icon-project-management;
  }
}
.icon-monitor-automation {
  &:before {
    content: $icon-monitor-automation;
  }
}
.icon-library {
  &:before {
    content: $icon-library;
  }
}
.icon-gaming {
  &:before {
    content: $icon-gaming;
  }
}
.icon-gamification {
  &:before {
    content: $icon-gamification;
  }
}
.icon-deployment-solutions {
  &:before {
    content: $icon-deployment-solutions;
  }
}
.icon-correlation {
  &:before {
    content: $icon-correlation;
  }
}
.icon-connector {
  &:before {
    content: $icon-connector;
  }
}
.icon-out-of-box {
  &:before {
    content: $icon-out-of-box;
  }
}
.icon-best-portfolio {
  &:before {
    content: $icon-best-portfolio;
  }
}
.icon-asset-share {
  &:before {
    content: $icon-asset-share;
  }
}
.icon-debugger {
  &:before {
    content: $icon-debugger;
  }
}
.icon-insight {
  &:before {
    content: $icon-insight;
  }
}
.icon-single-test {
  &:before {
    content: $icon-single-test;
  }
}
.icon-network-test {
  &:before {
    content: $icon-network-test;
  }
}
.icon-fast-search {
  &:before {
    content: $icon-fast-search;
  }
}
.icon-balance-performance {
  &:before {
    content: $icon-balance-performance;
  }
}
.icon-advertising {
  &:before {
    content: $icon-advertising;
  }
}
.icon-mobile-tablet {
  &:before {
    content: $icon-mobile-tablet;
  }
}
.icon-insurance {
  &:before {
    content: $icon-insurance;
  }
}
.icon-index {
  &:before {
    content: $icon-index;
  }
}
.icon-auto-service {
  &:before {
    content: $icon-auto-service;
  }
}
.icon-analyze {
  &:before {
    content: $icon-analyze;
  }
}
.icon-product {
  &:before {
    content: $icon-product;
  }
}
.icon-people2 {
  &:before {
    content: $icon-people2;
  }
}
.icon-wizard {
  &:before {
    content: $icon-wizard;
  }
}
.icon-why {
  &:before {
    content: $icon-why;
  }
}
.icon-it-service2 {
  &:before {
    content: $icon-it-service2;
  }
}
.icon-free-tool {
  &:before {
    content: $icon-free-tool;
  }
}
.icon-ecom-marketing {
  &:before {
    content: $icon-ecom-marketing;
  }
}
.icon-vulnerability {
  &:before {
    content: $icon-vulnerability;
  }
}
.icon-performance {
  &:before {
    content: $icon-performance;
  }
}
.icon-integration {
  &:before {
    content: $icon-integration;
  }
}
.icon-service-exchange {
  &:before {
    content: $icon-service-exchange;
  }
}
.icon-multiview {
  &:before {
    content: $icon-multiview;
  }
}
.icon-monitor2 {
  &:before {
    content: $icon-monitor2;
  }
}
.icon-mobile-analysis {
  &:before {
    content: $icon-mobile-analysis;
  }
}
.icon-log-monitoring {
  &:before {
    content: $icon-log-monitoring;
  }
}
.icon-knowledge {
  &:before {
    content: $icon-knowledge;
  }
}
.icon-intuitive {
  &:before {
    content: $icon-intuitive;
  }
}
.icon-error {
  &:before {
    content: $icon-error;
  }
}
.icon-compliance {
  &:before {
    content: $icon-compliance;
  }
}
.icon-vm-cloud {
  &:before {
    content: $icon-vm-cloud;
  }
}
.icon-mobile-detect {
  &:before {
    content: $icon-mobile-detect;
  }
}
.icon-manual-testing {
  &:before {
    content: $icon-manual-testing;
  }
}
.icon-manual-auto-testing {
  &:before {
    content: $icon-manual-auto-testing;
  }
}
.icon-flex-globe {
  &:before {
    content: $icon-flex-globe;
  }
}
.icon-business-testing {
  &:before {
    content: $icon-business-testing;
  }
}
.icon-auto-testing {
  &:before {
    content: $icon-auto-testing;
  }
}
.icon-web-interface {
  &:before {
    content: $icon-web-interface;
  }
}
.icon-studio {
  &:before {
    content: $icon-studio;
  }
}
.icon-spiral {
  &:before {
    content: $icon-spiral;
  }
}
.icon-software-security {
  &:before {
    content: $icon-software-security;
  }
}
.icon-smart-plugin {
  &:before {
    content: $icon-smart-plugin;
  }
}
.icon-intelligence {
  &:before {
    content: $icon-intelligence;
  }
}
.icon-user-setup {
  &:before {
    content: $icon-user-setup;
  }
}
.icon-topic {
  &:before {
    content: $icon-topic;
  }
}
.icon-threat-central {
  &:before {
    content: $icon-threat-central;
  }
}
.icon-started-data {
  &:before {
    content: $icon-started-data;
  }
}
.icon-heterogeneous {
  &:before {
    content: $icon-heterogeneous;
  }
}
.icon-outreach {
  &:before {
    content: $icon-outreach;
  }
}
.icon-simplicity {
  &:before {
    content: $icon-simplicity;
  }
}
.icon-privacy {
  &:before {
    content: $icon-privacy;
  }
}
.icon-map {
  &:before {
    content: $icon-map;
  }
}
.icon-energy {
  &:before {
    content: $icon-energy;
  }
}
.icon-access {
  &:before {
    content: $icon-access;
  }
}
.icon-program {
  &:before {
    content: $icon-program;
  }
}
.icon-multi-training {
  &:before {
    content: $icon-multi-training;
  }
}
.icon-multi-curriculum {
  &:before {
    content: $icon-multi-curriculum;
  }
}
.icon-instructor {
  &:before {
    content: $icon-instructor;
  }
}
.icon-global-solution {
  &:before {
    content: $icon-global-solution;
  }
}
.icon-connect-security {
  &:before {
    content: $icon-connect-security;
  }
}
.icon-capacity {
  &:before {
    content: $icon-capacity;
  }
}
.icon-UNIX-monitoring {
  &:before {
    content: $icon-UNIX-monitoring;
  }
}
.icon-manage-security {
  &:before {
    content: $icon-manage-security;
  }
}
.icon-cloud-service2 {
  &:before {
    content: $icon-cloud-service2;
  }
}
.icon-aggregate-catalog {
  &:before {
    content: $icon-aggregate-catalog;
  }
}
.icon-security-key {
  &:before {
    content: $icon-security-key;
  }
}
.icon-pay-security {
  &:before {
    content: $icon-pay-security;
  }
}
.icon-info-secutiry {
  &:before {
    content: $icon-info-secutiry;
  }
}
.icon-cloud-security {
  &:before {
    content: $icon-cloud-security;
  }
}
.icon-utility {
  &:before {
    content: $icon-utility;
  }
}
.icon-security-intelligence {
  &:before {
    content: $icon-security-intelligence;
  }
}
.icon-secure-id {
  &:before {
    content: $icon-secure-id;
  }
}
.icon-identify {
  &:before {
    content: $icon-identify;
  }
}
.icon-gavel {
  &:before {
    content: $icon-gavel;
  }
}
.icon-fast {
  &:before {
    content: $icon-fast;
  }
}
.icon-app-monitoring {
  &:before {
    content: $icon-app-monitoring;
  }
}
.icon-multi-industries {
  &:before {
    content: $icon-multi-industries;
  }
}
.icon-discovery {
  &:before {
    content: $icon-discovery;
  }
}
.icon-self-service {
  &:before {
    content: $icon-self-service;
  }
}
.icon-social {
  &:before {
    content: $icon-social;
  }
}
.icon-asset-management {
  &:before {
    content: $icon-asset-management;
  }
}
.icon-asset-portfolio {
  &:before {
    content: $icon-asset-portfolio;
  }
}
.icon-asset-view {
  &:before {
    content: $icon-asset-view;
  }
}
.icon-auto-discovery {
  &:before {
    content: $icon-auto-discovery;
  }
}
.icon-central-contract {
  &:before {
    content: $icon-central-contract;
  }
}
.icon-cloud-chargeback {
  &:before {
    content: $icon-cloud-chargeback;
  }
}
.icon-it-interface {
  &:before {
    content: $icon-it-interface;
  }
}
.icon-procurement {
  &:before {
    content: $icon-procurement;
  }
}
.icon-professional {
  &:before {
    content: $icon-professional;
  }
}
.icon-database-compliance {
  &:before {
    content: $icon-database-compliance;
  }
}
.icon-risk-reduction {
  &:before {
    content: $icon-risk-reduction;
  }
}
.icon-confidence {
  &:before {
    content: $icon-confidence;
  }
}
.icon-portfolio {
  &:before {
    content: $icon-portfolio;
  }
}
.icon-requirement-manage {
  &:before {
    content: $icon-requirement-manage;
  }
}
.icon-why-hp {
  &:before {
    content: $icon-why-hp;
  }
}
.icon-it-service {
  &:before {
    content: $icon-it-service;
  }
}
.icon-walk-through {
  &:before {
    content: $icon-walk-through;
  }
}
.icon-efficiency {
  &:before {
    content: $icon-efficiency;
  }
}
.icon-database-provision {
  &:before {
    content: $icon-database-provision;
  }
}
.icon-database-release {
  &:before {
    content: $icon-database-release;
  }
}
.icon-display2 {
  &:before {
    content: $icon-display2;
  }
}
.icon-flex-model {
  &:before {
    content: $icon-flex-model;
  }
}
.icon-flex {
  &:before {
    content: $icon-flex;
  }
}
.icon-platform-support {
  &:before {
    content: $icon-platform-support;
  }
}
.icon-program-monitor {
  &:before {
    content: $icon-program-monitor;
  }
}
.icon-server-patch {
  &:before {
    content: $icon-server-patch;
  }
}
.icon-server-provision {
  &:before {
    content: $icon-server-provision;
  }
}
.icon-vendor-security {
  &:before {
    content: $icon-vendor-security;
  }
}
.icon-workbench {
  &:before {
    content: $icon-workbench;
  }
}
.icon-secure-lifecycle {
  &:before {
    content: $icon-secure-lifecycle;
  }
}
.icon-open-source-test {
  &:before {
    content: $icon-open-source-test;
  }
}
.icon-display {
  &:before {
    content: $icon-display;
  }
}
.icon-professional-service {
  &:before {
    content: $icon-professional-service;
  }
}
.icon-app-testing {
  &:before {
    content: $icon-app-testing;
  }
}
.icon-app-development {
  &:before {
    content: $icon-app-development;
  }
}
.icon-uptime {
  &:before {
    content: $icon-uptime;
  }
}
.icon-helion-portfolio {
  &:before {
    content: $icon-helion-portfolio;
  }
}
.icon-cloud-toolset {
  &:before {
    content: $icon-cloud-toolset;
  }
}
.icon-auto-lifecycle {
  &:before {
    content: $icon-auto-lifecycle;
  }
}
.icon-it-cloud-service {
  &:before {
    content: $icon-it-cloud-service;
  }
}
.icon-full-stack {
  &:before {
    content: $icon-full-stack;
  }
}
.icon-cloud-service {
  &:before {
    content: $icon-cloud-service;
  }
}
.icon-value {
  &:before {
    content: $icon-value;
  }
}
.icon-last-08 {
  &:before {
    content: $icon-last-08;
  }
}
.icon-global-support {
  &:before {
    content: $icon-global-support;
  }
}
.icon-personalized-service {
  &:before {
    content: $icon-personalized-service;
  }
}
.icon-open-resource {
  &:before {
    content: $icon-open-resource;
  }
}
.icon-virtualize-test {
  &:before {
    content: $icon-virtualize-test;
  }
}
.icon-cloud-test {
  &:before {
    content: $icon-cloud-test;
  }
}
.icon-vm-placement {
  &:before {
    content: $icon-vm-placement;
  }
}
.icon-account {
  &:before {
    content: $icon-account;
  }
}
.icon-time-value {
  &:before {
    content: $icon-time-value;
  }
}
.icon-multi-device {
  &:before {
    content: $icon-multi-device;
  }
}
.icon-features {
  &:before {
    content: $icon-features;
  }
}
.icon-down {
  &:before {
    content: $icon-down;
  }
}
.icon-left {
  &:before {
    content: $icon-left;
  }
}
.icon-right {
  &:before {
    content: $icon-right;
  }
}
.icon-up {
  &:before {
    content: $icon-up;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-download-1 {
  &:before {
    content: $icon-download-1;
  }
}
.icon-video-ent {
  &:before {
    content: $icon-video-ent;
  }
}
.icon-americas {
  &:before {
    content: $icon-americas;
  }
}
.icon-apj {
  &:before {
    content: $icon-apj;
  }
}
.icon-emea {
  &:before {
    content: $icon-emea;
  }
}
.icon-global {
  &:before {
    content: $icon-global;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-glassdoor {
  &:before {
    content: $icon-glassdoor;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-video-play-icon-hpi {
  &:before {
    content: $icon-video-play-icon-hpi;
  }
}
.icon-facebook-invert {
  &:before {
    content: $icon-facebook-invert;
  }
}
.icon-nav-bgov {
  &:before {
    content: $icon-nav-bgov;
  }
}
.icon-google-invert {
  &:before {
    content: $icon-google-invert;
  }
}
.icon-instagram-invert {
  &:before {
    content: $icon-instagram-invert;
  }
}
.icon-linkedin-invert {
  &:before {
    content: $icon-linkedin-invert;
  }
}
.icon-pinterest-invert {
  &:before {
    content: $icon-pinterest-invert;
  }
}
.icon-share-invert {
  &:before {
    content: $icon-share-invert;
  }
}
.icon-twitter-invert {
  &:before {
    content: $icon-twitter-invert;
  }
}
.icon-youtube-invert {
  &:before {
    content: $icon-youtube-invert;
  }
}
.icon-share-transparent {
  &:before {
    content: $icon-share-transparent;
  }
}
.icon-labs-blogs {
  &:before {
    content: $icon-labs-blogs;
  }
}
.icon-blog {
  &:before {
    content: $icon-blog;
  }
}
.icon-contact {
  &:before {
    content: $icon-contact;
  }
}
.icon-press-kits {
  &:before {
    content: $icon-press-kits;
  }
}
.icon-labs-innovation {
  &:before {
    content: $icon-labs-innovation;
  }
}
.icon-labs-research {
  &:before {
    content: $icon-labs-research;
  }
}
.icon-labs-careers {
  &:before {
    content: $icon-labs-careers;
  }
}
.icon-press-release {
  &:before {
    content: $icon-press-release;
  }
}
.icon-twitter-no-border {
  &:before {
    content: $icon-twitter-no-border;
  }
}
.icon-careers-search {
  &:before {
    content: $icon-careers-search;
  }
}
.icon-careers-working {
  &:before {
    content: $icon-careers-working;
  }
}
.icon-careers-faq {
  &:before {
    content: $icon-careers-faq;
  }
}
.icon-careers-signin {
  &:before {
    content: $icon-careers-signin;
  }
}
.icon-careers-link-discount {
  &:before {
    content: $icon-careers-link-discount;
  }
}
.icon-careers-link-epp {
  &:before {
    content: $icon-careers-link-epp;
  }
}
.icon-careers-link-support {
  &:before {
    content: $icon-careers-link-support;
  }
}
.icon-premium-helpdesk {
  &:before {
    content: $icon-premium-helpdesk;
  }
}
.icon-large-format {
  &:before {
    content: $icon-large-format;
  }
}
.icon-ink-paper {
  &:before {
    content: $icon-ink-paper;
  }
}
.icon-control {
  &:before {
    content: $icon-control;
  }
}
.icon-wechat {
  &:before {
    content: $icon-wechat;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-geo-pin {
  &:before {
    content: $icon-geo-pin;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-labs {
  &:before {
    content: $icon-labs;
  }
}

.icon-labs {
  &:before {
    content: $icon-labs;
  }
}

.icon-diversity-careers {
  &:before {
    content: $icon-diversity-careers;
  }
}
.icon-diversity-media {
  &:before {
    content: $icon-diversity-media;
  }
}
.icon-diversity-ourculture {
  &:before {
    content: $icon-diversity-ourculture;
  }
}
.icon-diversity-ourvision {
  &:before {
    content: $icon-diversity-ourvision;
  }
}
.icon-diversity-whoweare {
  &:before {
    content: $icon-diversity-whoweare;
  }
}
.icon-products {
  &:before {
    content: $icon-products;
  }
}
.icon-applications {
  &:before {
    content: $icon-applications;
  }
}

.icon-scitex-press {
  &:before {
    content: $icon-scitex-press;
  }
}

.icon-pagewidepress {
  &:before {
    content: $icon-pagewidepress;
  }
}