$icomoon-font-path: "fonts" !default;

$icon-list: "\41";
$icon-info: "\42";
$icon-cloud-circle: "\43";
$icon-mob: "\44";
$icon-android: "\45";
$icon-arr-up: "\46";
$icon-phrase: "\47";
$icon-paper: "\48";
$icon-people: "\49";
$icon-key: "\4a";
$icon-lock: "\4b";
$icon-mob-shield: "\4c";
$icon-video-play: "\4d";
$icon-notes: "\4e";
$icon-desc-mob: "\4f";
$icon-bug-shield: "\50";
$icon-download: "\51";
$icon-checkmark: "\52";
$icon-chart: "\61";
$icon-money: "\62";
$icon-devices: "\63";
$icon-shield-keyhole: "\64";
$icon-windows: "\65";
$icon-mob-tablet: "\66";
$icon-charge: "\67";
$icon-who: "\68";
$icon-letter: "\69";
$icon-target-plus: "\6a";
$icon-mob-circle: "\6b";
$icon-cloud-tool: "\6c";
$icon-dots-circle: "\6d";
$icon-rectangle-arr: "\6e";
$icon-logo: "\6f";
$icon-monitor: "\70";
$icon-wifi: "\71";
$icon-bell: "\72";
$icon-footprint: "\e600";
$icon-protection: "\e601";
$icon-availability: "\e602";
$icon-easy-setup: "\e603";
$icon-transportation: "\e604";
$icon-manufacturing: "\e605";
$icon-security: "\e606";
$icon-education: "\e607";
$icon-search: "\e608";
$icon-get-started: "\e609";
$icon-dashboard: "\e60a";
$icon-management: "\e60b";
$icon-view: "\e60c";
$icon-scalability: "\e60d";
$icon-low-cost: "\e60e";
$icon-full-search: "\e60f";
$icon-collection: "\e610";
$icon-public-sector: "\e611";
$icon-healthcare: "\e612";
$icon-finance: "\e613";
$icon-synthetic-monitoring: "\e614";
$icon-portfolio-management: "\e615";
$icon-service-management: "\e616";
$icon-real-financial: "\e617";
$icon-real-monitoring: "\e618";
$icon-property: "\e619";
$icon-delivery-options: "\e61a";
$icon-it: "\e61b";
$icon-hospitality: "\e61c";
$icon-free-evaluation: "\e61d";
$icon-flexible-policy: "\e61e";
$icon-resource-management: "\e61f";
$icon-diagnostics: "\e620";
$icon-entertainment: "\e621";
$icon-consolidated-management: "\e622";
$icon-threat-protection: "\e623";
$icon-visibility: "\e624";
$icon-portfolio-optimization: "\e625";
$icon-view-360: "\e626";
$icon-thirty-trial: "\e627";
$icon-thirty-free: "\e628";
$icon-software-management: "\e629";
$icon-soft-engineering: "\e62a";
$icon-deployment: "\e62b";
$icon-catalog: "\e62c";
$icon-reusable: "\e62d";
$icon-provisioning: "\e62e";
$icon-singlesolution: "\e62f";
$icon-voice: "\e630";
$icon-lifecycle: "\e631";
$icon-automation-fast: "\e632";
$icon-secure: "\e633";
$icon-easy-use: "\e634";
$icon-dragdrop: "\e635";
$icon-download2: "\e636";
$icon-testing: "\e637";
$icon-configuration: "\e638";
$icon-communications: "\e639";
$icon-change-management: "\e63a";
$icon-central-service: "\e63b";
$icon-auto-patch: "\e63c";
$icon-nav-big-data: "\e63d";
$icon-nav-businessservice: "\e63e";
$icon-asset: "\e63f";
$icon-nav-home: "\e640";
$icon-nav-lifecycle: "\e641";
$icon-virtualization: "\e642";
$icon-nav-security: "\e643";
$icon-big-security: "\e644";
$icon-compress-storage: "\e645";
$icon-detection: "\e646";
$icon-automation: "\e647";
$icon-nav-software-service: "\e648";
$icon-adv-security: "\e649";
$icon-virtual-performance: "\e64a";
$icon-virtual-optimization: "\e64b";
$icon-user-monitor: "\e64c";
$icon-tech-support: "\e64d";
$icon-sprawl: "\e64e";
$icon-max-performance: "\e64f";
$icon-live-threat: "\e650";
$icon-interactive: "\e651";
$icon-global-test: "\e652";
$icon-end-to-end: "\e653";
$icon-easy-deployment: "\e654";
$icon-document: "\e655";
$icon-data-security: "\e656";
$icon-availability-fault: "\e657";
$icon-app-diagnostics: "\e658";
$icon-telecom: "\e659";
$icon-step-by-step: "\e65a";
$icon-script-monitoring: "\e65b";
$icon-report: "\e65c";
$icon-mobile-test: "\e65d";
$icon-project-tracking: "\e65e";
$icon-overview: "\e65f";
$icon-eye: "\e660";
$icon-cloud-search: "\e661";
$icon-cloud-isolation: "\e662";
$icon-solution: "\e663";
$icon-service-health: "\e664";
$icon-retail: "\e665";
$icon-project-management: "\e666";
$icon-monitor-automation: "\e667";
$icon-library: "\e668";
$icon-gaming: "\e669";
$icon-gamification: "\e66a";
$icon-deployment-solutions: "\e66b";
$icon-correlation: "\e66c";
$icon-connector: "\e66d";
$icon-out-of-box: "\e66e";
$icon-best-portfolio: "\e66f";
$icon-asset-share: "\e670";
$icon-debugger: "\e671";
$icon-insight: "\e672";
$icon-single-test: "\e673";
$icon-network-test: "\e674";
$icon-fast-search: "\e675";
$icon-balance-performance: "\e676";
$icon-advertising: "\e677";
$icon-mobile-tablet: "\e678";
$icon-insurance: "\e679";
$icon-index: "\e67a";
$icon-auto-service: "\e67b";
$icon-analyze: "\e67c";
$icon-product: "\e67d";
$icon-people2: "\e67e";
$icon-wizard: "\e67f";
$icon-why: "\e680";
$icon-it-service2: "\e681";
$icon-free-tool: "\e682";
$icon-ecom-marketing: "\e683";
$icon-vulnerability: "\e684";
$icon-performance: "\e685";
$icon-integration: "\e686";
$icon-service-exchange: "\e687";
$icon-multiview: "\e688";
$icon-monitor2: "\e689";
$icon-mobile-analysis: "\e68a";
$icon-log-monitoring: "\e68b";
$icon-knowledge: "\e68c";
$icon-intuitive: "\e68d";
$icon-error: "\e68e";
$icon-compliance: "\e68f";
$icon-vm-cloud: "\e690";
$icon-mobile-detect: "\e691";
$icon-manual-testing: "\e692";
$icon-manual-auto-testing: "\e693";
$icon-flex-globe: "\e694";
$icon-business-testing: "\e695";
$icon-auto-testing: "\e696";
$icon-web-interface: "\e697";
$icon-studio: "\e698";
$icon-spiral: "\e699";
$icon-software-security: "\e69a";
$icon-smart-plugin: "\e69b";
$icon-intelligence: "\e69c";
$icon-user-setup: "\e69d";
$icon-topic: "\e69e";
$icon-threat-central: "\e69f";
$icon-started-data: "\e6a0";
$icon-heterogeneous: "\e6a1";
$icon-outreach: "\e6a2";
$icon-simplicity: "\e6a3";
$icon-privacy: "\e6a4";
$icon-map: "\e6a5";
$icon-energy: "\e6a6";
$icon-access: "\e6a7";
$icon-program: "\e6a8";
$icon-multi-training: "\e6a9";
$icon-multi-curriculum: "\e6aa";
$icon-instructor: "\e6ab";
$icon-global-solution: "\e6ac";
$icon-connect-security: "\e6ad";
$icon-capacity: "\e6ae";
$icon-UNIX-monitoring: "\e6af";
$icon-manage-security: "\e6b0";
$icon-cloud-service2: "\e6b1";
$icon-aggregate-catalog: "\e6b2";
$icon-security-key: "\e6b3";
$icon-pay-security: "\e6b4";
$icon-info-secutiry: "\e6b5";
$icon-cloud-security: "\e6b6";
$icon-utility: "\e6b7";
$icon-security-intelligence: "\e6b8";
$icon-secure-id: "\e6b9";
$icon-identify: "\e6ba";
$icon-gavel: "\e6bb";
$icon-fast: "\e6bc";
$icon-app-monitoring: "\e6bd";
$icon-multi-industries: "\e6be";
$icon-discovery: "\e6bf";
$icon-self-service: "\e6c0";
$icon-social: "\e6c1";
$icon-asset-management: "\e6c2";
$icon-asset-portfolio: "\e6c3";
$icon-asset-view: "\e6c4";
$icon-auto-discovery: "\e6c5";
$icon-central-contract: "\e6c6";
$icon-cloud-chargeback: "\e6c7";
$icon-it-interface: "\e6c8";
$icon-procurement: "\e6c9";
$icon-professional: "\e6ca";
$icon-database-compliance: "\e6cb";
$icon-risk-reduction: "\e6cc";
$icon-confidence: "\e6cd";
$icon-portfolio: "\e6ce";
$icon-requirement-manage: "\e6cf";
$icon-why-hp: "\e6d0";
$icon-it-service: "\e6d1";
$icon-walk-through: "\e6d2";
$icon-efficiency: "\e6d3";
$icon-database-provision: "\e6d4";
$icon-database-release: "\e6d5";
$icon-display2: "\e6d6";
$icon-flex-model: "\e6d7";
$icon-flex: "\e6d8";
$icon-platform-support: "\e6d9";
$icon-program-monitor: "\e6da";
$icon-server-patch: "\e6db";
$icon-server-provision: "\e6dc";
$icon-vendor-security: "\e6dd";
$icon-workbench: "\e6de";
$icon-secure-lifecycle: "\e6df";
$icon-open-source-test: "\e6e0";
$icon-display: "\e6e1";
$icon-professional-service: "\e6e2";
$icon-app-testing: "\e6e3";
$icon-app-development: "\e6e4";
$icon-uptime: "\e6e5";
$icon-helion-portfolio: "\e6e6";
$icon-cloud-toolset: "\e6e7";
$icon-auto-lifecycle: "\e6e8";
$icon-it-cloud-service: "\e6e9";
$icon-full-stack: "\e6ea";
$icon-cloud-service: "\e6eb";
$icon-value: "\e6ec";
$icon-last-08: "\e6ed";
$icon-global-support: "\e6ee";
$icon-personalized-service: "\e6ef";
$icon-open-resource: "\e6f0";
$icon-virtualize-test: "\e6f1";
$icon-cloud-test: "\e6f2";
$icon-vm-placement: "\e6f3";
$icon-account: "\e6f4";
$icon-time-value: "\e6f5";
$icon-multi-device: "\e6f6";
$icon-features: "\e6f7";
$icon-down: "\e6f8";
$icon-left: "\e6f9";
$icon-right: "\e6fa";
$icon-up: "\e6fb";
$icon-plus: "\e6fc";
$icon-download-1: "\e6fd";
$icon-video-ent: "\e6fe";
$icon-americas: "\e6ff";
$icon-apj: "\e700";
$icon-emea: "\e701";
$icon-global: "\e702";
$icon-close: "\e703";
$icon-facebook: "\e900";
$icon-glassdoor: "\e901";
$icon-instagram: "\e902";
$icon-linkedin: "\e903";
$icon-twitter: "\e904";
$icon-youtube: "\e905";
$icon-video-play-icon-hpi: "\e906";
$icon-facebook-invert: "\e907";
$icon-nav-bgov: "\e908";
$icon-google-invert: "\e909";
$icon-instagram-invert: "\e90a";
$icon-linkedin-invert: "\e90b";
$icon-pinterest-invert: "\e90c";
$icon-share-invert: "\e90d";
$icon-twitter-invert: "\e90e";
$icon-youtube-invert: "\e90f";
$icon-share-transparent: "\e910";
$icon-labs-blogs: "\e911";
$icon-blog: "\e912";
$icon-contact: "\e913";
$icon-press-kits: "\e914";
$icon-labs-innovation: "\e915";
$icon-labs-research: "\e916";
$icon-labs-careers: "\e917";
$icon-press-release: "\e918";
$icon-twitter-no-border: "\e919";
$icon-careers-search: "\e91a";
$icon-careers-working: "\e91b";
$icon-careers-faq: "\e91c";
$icon-careers-signin: "\e91d";
$icon-careers-link-discount: "\e91e";
$icon-careers-link-epp: "\e91f";
$icon-careers-link-support: "\e920";
$icon-premium-helpdesk: "\e921";
$icon-large-format: "\e922";
$icon-ink-paper: "\e923";
$icon-control: "\e924";
$icon-wechat: "\e925";
$icon-email: "\e926";
$icon-geo-pin: "\e927";
$icon-phone: "\e928";
$icon-labs: "\e929";
$icon-diversity-careers: "\e92b";
$icon-diversity-media: "\e92a";
$icon-diversity-ourculture: "\e92c";
$icon-diversity-ourvision: "\e92d";
$icon-diversity-whoweare: "\e92e";
$icon-products: "\e92f";
$icon-applications: "\e930";
$icon-scitex-press: "\e931";
$icon-pagewidepress: "\e932";