.scroll-to-top {
  transition: all 0.3s;
  opacity: 0;
  position: fixed;
  display: flex;
  z-index: 9998;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 6px;
  align-items: center;
  justify-content: center;
  svg {
    display: block;
    transform: rotate(180deg);
    width: 32px;
    height: 32px;
    fill: #FFFFFF;
  }
  &.sticky {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    transform: scale(1.15);
  }
  @media screen and (min-width: 720px) {
    bottom: 50px;
    right: 50px;
  }
}