.custom-master.ignore-default-height.preserve-row-content {
  opacity: 0;
  overflow: hidden;
  transition: opacity .3s ease;
  &.initialized {
    opacity: 1;
  }
}
.collapsible-accordion-module {
  overflow: hidden;
  .molecule-lb-300 a {
    opacity: 0.01;
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: block;
    pointer-events: none;
    cursor: default;
  }
  .span24 {
    display: none!important;
  }
  .molecule-lb-302 {
    margin: 0;
    .text-block {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  #body & {
    @media screen and (min-width: 960px) {
      min-height: 900px!important;
      &.preserve-row-content.custom-master[style*="url"] {
        height: 900px!important;
      }
    }
  }
  @media screen and (min-width: 960px) {
    .icon-plus {
      cursor: pointer;
    }
    .mobile-title,
    .molecule-lb-302-wrapper {
      display: none;
    }
    .molecule-lb-300 {
      position: relative;
      max-width: 235px;
      padding: 40px 0 55px 0;
      margin: 0 auto;
      .icon-plus {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 43px;
        height: 43px;
        bottom: 10px;
        margin: 0 auto;
        &:before {
          font-size: 42px;
          padding: 0;
        }
      }
    }
    > .row {
      display: table;
      height: 100%;
      width: 100%;
      border-collapse: collapse;
      > [class*="span"] {
        display: table-cell;
        vertical-align: middle;
        width: 20%;
        transition: width .3s ease, background .3s ease;
        padding: 15px!important;
        position: relative;
        .separator {
          background: rgba(255,255,255,.5);
          position: absolute;
          left: 0;
          width: 1px;
          height: 645px;
          top: 127px;
        }
        &:first-child {
          .separator {
            display: none;
          }
        }
      }
      &:not(.active) {
        .molecule-lb-300 {
          min-height: 250px;
        }
      }
      &.active {
        [class*="span"] {
          width: 5%;
          vertical-align: top;
          padding-top: 127px!important;
          .separator {
            height: 250px;
            transform: translateY(0);
          }
          .molecule-lb-300 {
            padding: 40px 0 0 0;
            max-width: none;
            width: 50px;
            height: 250px;
            cursor: pointer;
            h2 {
              display: inline-block;
              transform-origin: 7px 32px;;
              transform: rotate(90deg);
              white-space: nowrap;
              text-align: left;
              cursor: pointer;
            }
            .text-block {
              display: none;
            }
            .icon-plus {
              top: -2px;
            }
          }
          &.active {
            padding-left: 50px!important;
            padding-right: 50px!important;
            width: 60%;
            background: rgba(0,0,0,0.3);
            .molecule-lb-300 {
              width: 100%;
              text-align: left;
              margin-bottom: 25px;
              height: auto;
              cursor: default;
              h2 {
                transform: none;
                display: none;
                cursor: default;
              }
              .icon-plus {
                transform: rotate(45deg);
                left: auto;
                margin: 0;
                right: -22px;
              }
            }
          }
        }
      }
      [class*="span"]:not(.active) {
        .molecule-lb-302-wrapper {
          display: none!important;
        }
      }
    }
  }
  @media screen and (max-width: 960px) {
    display: block!important;
    padding-top: 65px;
    padding-bottom: 65px;
    background-position: 10% 50%!important;
    .mobile-title {
      padding: 0 20px 50px 20px;
      text-align: center;
    }
    [class*="span"] {
      width: 100%;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      position: relative;
      transition: background .3s ease;
      &:nth-last-child(2) {
        .separator {
          height: 1px;
          background: white;
          left: 20px;
          right: 20px;
          position: absolute;
          bottom: 0;
        }
      }
    }
    .molecule-lb-300 {
      margin: 0;
      padding: 0 20px;
      transition: background .5s ease;
      position: relative;
      h2 {
        border-top: 1px solid white;
        position: relative;
        padding: 30px 50px 30px 0;
        text-align: left;
      }
      .text-block {
        display: none;
      }
      .icon-plus {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0!important;
        line-height: 0;
        &:before {
          font-size: 30px;
        }
      }
    } 
    .molecule-lb-302-wrapper {
      display: none;
    }
    .molecule-lb-302 {
      margin: 0 20px;
      padding-bottom: 30px;
      .text-block {
        margin-top: 20px;
        padding: 0;
      }
      .cta-wrapper {
        display: block;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 496px) {
    .mobile-title {
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  > .row {
    &.active {
      [class*="span"].active {
        background: rgba(0,0,0,0.4);
        .icon-plus {
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }
}