.collapsible-row {
  .collapsible-row-collapse-icon-wrap {
    display: none;
  }
  a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-grey;
    border-color: $color-grey;
    div:not(.icon-arrow) {
      letter-spacing: .05rem;
    }
    @media screen and (min-width: $bp1280) {
      div:not(.icon-arrow) {
        letter-spacing: .1rem;
      }
    }
    .icon-arrow {
      position: relative;
      width: 50px;
      height: 50px;
      display: inline-block;
      border: 1px solid $color-grey;
      border-color: inherit;
      border-radius: 100%;
      transition: transform .3s ease;
      &:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        border-right: 1px solid $color-grey;
        border-bottom: 1px solid $color-grey;
        border-color: inherit;
        margin-top: 10px;
      }
      &:hover {
        transform: scale(1.15);
      }
    }
  }
}
.collapsible-row-container {
  position: relative;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-in-out;
  body & {
    padding-top: 0;
    padding-bottom: 0;
  }
  &:after {
    content: '';
    height: 75px;
    display: block;
  }
  .collapsible-row-collapse-icon-wrap {
    text-align: center;
    padding: 20px;
    .collapsible-row-collapse-icon {
      opacity: 0;
      bottom: 40px;
      display: inline-block;
      background: $color-light-black;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      z-index: 1;
      transition: opacity .3s ease, transform .3s ease;
      left: 50%;
      margin-left: -25px;
      border: 1px solid $color-white;
      &:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        border-top: 2px solid $color-white;
        border-left: 2px solid $color-white;
        margin-top: 20px;
      }
      &:hover {
        transform: scale(1.15);
      }
      &.sticky {
        position: fixed;
      }
      &.initialized {
        opacity: 1;
      }
    }
  }
  &.light-theme {
    .collapsible-row-collapse-icon-wrap .collapsible-row-collapse-icon {
      border-color: $color-black;
      background: $color-white;
      &:after {
        border-color: $color-black;
      }
    }
  }
  &.button-secondary-appearance {
    .collapsible-row-collapse-icon-wrap .collapsible-row-collapse-icon {
      border-color: $color-blue;
      background: $color-white;
      &:after {
        border-color: $color-blue;
      }
    }
  }
}
.collapsible-row-trigger-wrapper {
  line-height: 1.5;
  opacity: 1;
  margin-top: 0;
  transition: opacity .3s ease, margin-top 1s ease-in-out;
  &.appearance-theme-2 {
    .collapsible-row  {
      a {
        color: $color-black;
        .icon-arrow {
          background: $color-white;
          border-color: $color-black;
          &:after {
            border-color: $color-black;
          }
        }
      }
    }
  }

  &.disabled {
    visibility: hidden;
  }
  &.inactive {
    opacity: 0
  }
}