.molecule-999 {
  .video-module {
    width: 100%;
    height: auto;
    position: relative;
    line-height: 0;
    video {
      width: 100%;
      height: auto;
    }
    .replay-video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 200px;
      height: 200px;
      visibility: hidden;
      opacity: 0;
      outline: none;
      &.visible {
        visibility: visible;
        opacity: 1;
        transition: all 1s ease;
      }
      svg {
        width: 100%;
        height: 100%;
        circle {
          opacity: 0.35;
        }
      }
      &:hover {
        svg {
          circle {
            opacity: 0.5;
          }
        }
      }
    }
    .play {
      opacity: 0;
      visibility: hidden;
      &.visible {
        visibility: visible;
        opacity: 1;
        transition: all 1s ease;
      }
    }
  }
}