/*adding priority to these styles, cause module is tied on a grid system*/
#body, .body {
  .molecule-823, .molecule-lb-823 {
    font-size: 20px;
    @media screen and (max-width: 1280px) {
      font-size: 18px;
    }
    @media screen and (max-width: 960px) {
      font-size: 18px;
    }
    @media screen and (max-width: 960px) {
      font-size: 16px;
    }
    .rows-wrapper {
      display: table;
      width: 100%;
      border-collapse: collapse;
      > div {
        display: table-row;
        > div {
          display: table-cell;
          padding: 10px;
          border-bottom: 1px solid $color-light-grey;
        }
      }
    }
    .button {
      @media screen and (max-width: $bp720) {
        min-width: 100px;
        padding: 0 10px;
        max-width: 100%;
      }
    }
    &.content-valign-miggle {
      .rows-wrapper > div > div {
        vertical-align: middle;
        &:first-child {
          vertical-align: top;
        }
      }
      @media screen and (max-width: 720px) {
        .rows-wrapper > div > div {
          vertical-align: top;
          &:first-child {
            vertical-align: top;
          }
        }
      }
    }
    &.content-halign-left {
      .rows-wrapper > div > div {
        text-align: left;
        &:first-child {
          text-align: right;
          @media screen and (max-width: 720px) {
            text-align: left;
          }
        }
      }
    }
    &.compare-style {
      .rows-wrapper > div > div {
        padding: 1.25em;
        text-align: center;
        &:first-child {
          text-align: right;
        }
      }
      strong {
        color: $color-black;
        font-size: 0.975em;
      }
      &.columns-3 {
        .rows-wrapper {
          min-width: 0;
          > div > div {
            width: 33.33%;
          }
        }
        @media screen and (max-width: 720px) {
          display: block;
          .rows-wrapper {
            > div {
              padding: 1.25em;
              border-bottom: 1px solid $color-light-grey;
              > div {
                width: 50%;
                padding: 1em 0em;
                border-bottom: none;
                text-align: center;
                display: inline-block;
                vertical-align: top;
                &:first-child {
                  padding-bottom: 0;
                  text-align: left;
                  width: 100%;
                  display: block;
                }
                &:last-child {
                  padding-left: 0.5em;
                }
                &:nth-child(2) {
                  padding-right: 0.5em;
                }
              }
            }
          }
        }
      }
    }
  }
}
