.molecule-lb-810 {
  .video-container {
    line-height: 0;
    position: relative;
    width: 100%;
    padding: 0 0 56.25% 0;
    iframe, .bc-video-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .bc-video-wrapper > div {
      outline: none;
      width: 100%;
      height: 100%;
    }
  }
}
