@charset "UTF-8";
@import '../../common/styles/vendors/slick.scss';

$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-size: 6px !default;




/* Slider */

.slick-slide {
  outline: none;
  .molecule-lb-800,
  .molecule-800 {
    .span24,
    .span23 {
      padding-left: 0;
      padding-right: 0;
    }
    .span23 {
      width: 100%;
    }
  }
}




/* Arrows */

.slick-prev,
.slick-next {
  font-size: 0;
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -15px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: opacity .3s ease;
  padding: 0;
  border: none;
  outline: none;
  opacity: .5;
  z-index: 1;
  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;
    opacity: 1;
  }
  &.slick-disabled {
    opacity: .2;
  }
  .font-color-theme1 & {
    border-color: $color-white;
  }
  @media screen and (max-width: 720px) {
    &:not(.enable-arrows-mobile) {
      display: none!important;
    }
  }
}

.slick-prev, [dir="rtl"] .slick-next {
  border-left: 2px solid $color-grey;
  border-top: 2px solid $color-grey;
  border-right: none;
  border-bottom: none;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: -10px;
  right: auto;
}
.drop-all-spacings,
.drop-row-horizontal-spacings,
.drop-cell-spacings,
.row-slider {
  .slick-prev, [dir="rtl"] & .slick-next {
    left: 20px;
    right: auto;
    z-index: 1;
  }
}

.slick-next, [dir="rtl"] .slick-prev {
  right: -10px;
  left: auto;
  border-top: 2px solid $color-grey;
  border-right: 2px solid $color-grey;
  border-left: none;
  border-bottom: none;
  -ms-transform: skew(50deg, 0deg) rotate(45deg);
  -webkit-transform: skew(50deg, 0deg) rotate(45deg);
  transform: rotate(45deg);
}
.drop-all-spacings,
.drop-row-horizontal-spacings,
.drop-cell-spacings,
.row-slider {
  .slick-next, [dir="rtl"] & .slick-prev {
    right: 20px;
    left: auto;
    z-index: 1;
  }
}


/* Dots */

.section .slick-dotted.slick-slider,
.slick-dotted.slick-slider {
  margin-bottom: 50px;
}

.section[class*="cells-valign"] .row.slick-slider {
  &:after {
    display: none;
  }
}

.slider-for .slick-slide {
  opacity: 0;
  &.slick-current,
  &.slick-active,
  &.slick-center {
    opacity: 1;
  }
}

.slick-dots {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  line-height: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  .bulleted-dots & {
    bottom: -35px;
  }
  li {
    position: relative;
    display: inline-block;
    height: 2px;
    width: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 100%;
      width: 100%;
      outline: none;
      font-size: 0;
      color: transparent;
      padding: 0px;
      cursor: pointer;
      &:hover,
      &:focus {
        outline: none;
        &:before {
          background-color: $color-blue;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: $color-light-grey;
        transition: all .3s ease;
      }
    }
    &.slick-active button:before {
      background-color: $color-blue;
    }
  }
  .bulleted-dots & {
    li {
      width: 10px;
      height: 10px;
      margin: 0 10px;
      button {
        &:before {
          border-radius: 100%;
          border: none;
          background-color: $color-light-grey;
        }
        &:hover:before,
        &:focus:before {
          background-color: $color-blue;
        }
      }
      &.slick-active button:before {
        background-color: $color-blue;
      }
    }
  }
}




/* Slide's counter */

.pagingInfo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  line-height: 1;
  [dir="rtl"] & {
    right: auto;
    left: 20px;
  }
  body .section .row > & {
    line-height: 1;
  }
  .font-color-theme1 & {
    color: $color-white;
  }
}

@media screen and (max-width: 1280px) {
  .font-color-theme1 {
    &:not(.preserve-row-content) .pagingInfo {
      color: $color-grey;
    }
  }
}



.js-slider,
.adaptive-slider>.row,
.grid-slider>.row {
  opacity: 0;
  height: 400px;
  transition: opacity .3s ease;
  &.ready {
    opacity: 1;
    height: auto;
  }
}

.adaptive-slider {
  &:after {
    content: '';
    display: table;
  }
  @media screen and (max-width: 790px) and (min-width: $bp720) {
    .button {
      min-width: 150px;
    }
  }
  &.show-next-prev>.row {
    padding: 0;
    [class*="span"] {
      padding-left: 30px;
      padding-right: 30px;
    }
    .slick-next, [dir="rtl"] & .slick-prev {
      right: 28%;
      left: auto;
      margin-right: -7px;
      margin-left: 0;
    }
    .slick-prev, [dir="rtl"] & .slick-next  {
      left: 28%;
      right: auto;
      margin-left: -7px;
      margin-right: 0;
    }
    .slick-arrow {
      margin-top: -20px;
    }
    @media screen and (max-width: 1350px) {
      .slick-next, [dir="rtl"] & .slick-prev {
        right: 20%;
      }
      .slick-prev, [dir="rtl"] & .slick-next {
        left: 20%;
      }
    }
  }
  @media screen and (max-width: $bp720 - 1px) {
    .ignore {
      display: none;
    }
  }
  &.grid-slider {
    .slick-list {
      margin: 0 10px;
    }
    &.drop-cell-spacings.drop-row-horizontal-spacings,
    .drop-all-spacings {
      .slick-list {
        margin: 0;
      }
    }
    .slick-next, [dir="rtl"] & .slick-prev {
      right: 20px;
      left: auto;
    }
    .slick-prev, [dir="rtl"] & .slick-next {
      left: 20px;
      right: auto;
    }
    &.grid-slider-arrows-only, &.no-controls {
      .slick-dotted.slick-slider {
        margin-bottom: 0;
      }
      .slick-dots {
        display: none!important;//overwrite inline styles
      }
    }
    &.grid-slider-dots-only, &.no-controls {
      .slick-arrow {
        display: none!important;
      }
    }
    &.no-controls {
      .slick-list {
        margin-left: 0;
        margin-right: 0;
      }
    }
    @media screen and (min-width: $bp720) {
      .slick-list {
        margin: 0 10px;
      }
      &.indent-slider-content-40 {
        .slick-list {
          margin-left: 40px;
          margin-right: 40px;
        }
      }
    }
  }
}

.cells-valign-middle .slick-initialized .slick-slide {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.cells-valign-bottom .slick-initialized .slick-slide {
  display: inline-block;
  vertical-align: bottom;
  float: none;
}
