div.section[style*="url"] {
  &.preserve-row-content {
    &:not(.custom-height) {
      @media screen and (max-width: $bp1280) {
        display: flex;
        height: auto!important;
        min-height: 400px;
      }
      @media screen and (max-width: $bp720) {
        min-height: 240px;
      }
    }
    &.cells-valign-bottom {
      display: flex;
      align-items: flex-end;
    }
    &.cells-valign-middle {
      display: flex;
      align-items: center;
    }
    .row {
      width: 100%;
    }
  }
  &.preserve-row-content-above-720 {
    @media screen and (min-width: $bp720 + 1px) {
      display: flex;
      height: auto!important;
      min-height: 400px;
      &.cells-valign-bottom {
        display: flex;
        align-items: flex-end;
      }
      &.cells-valign-middle {
        display: flex;
        align-items: center;
      }
      .row {
        width: 100%;
      }
    }
    @media screen and (max-width: $bp720) {
      background-size: 0!important;
      height: auto!important;
      &[class*="ptop"] {
        padding-top: 0;
      }
      &[class*="pbot"] {
        padding-bottom: 0;
      }
      &:before {
        background-image: inherit;
        background-size: cover;
        background-position: 50% 50%;
        content: '';
        height: 240px;
        width: 100%;
        display: block;
      }
      &:after {
        content: '';
        clear: both;
        display: block;
      }
      >.row {
        height: auto;
      }
      &[class*="cells-valign"] {
        >.row:after {
          display: none;
        }
      }
    }
  }
  &.preserve-row-content-above-960 {
    @media screen and (min-width: $bp960 + 1px) {
      display: flex;
      height: auto!important;
      min-height: 400px;
      &.cells-valign-bottom {
        display: flex;
        align-items: flex-end;
      }
      &.cells-valign-middle {
        display: flex;
        align-items: center;
      }
      .row {
        width: 100%;
      }
    }
    @media screen and (max-width: $bp960) {
      background-size: 0!important;
      height: auto!important;
      &[class*="ptop"] {
        padding-top: 0;
      }
      &[class*="pbot"] {
        padding-bottom: 0;
      }
      &:before {
        background-image: inherit;
        background-size: cover;
        background-position: 50% 50%;
        content: '';
        height: 400px;
        width: 100%;
        display: block;
      }
      &:after {
        content: '';
        clear: both;
        display: block;
      }
      >.row {
        height: auto;
      }
      &[class*="cells-valign"] {
        >.row:after {
          display: none;
        }
      }
    }
    @media screen and (max-width: $bp720) {
      &:before {
        height: 240px;
      }
    }
  }
  &:not(.preserve-row-content):not(.custom-height) {
    @media screen and (max-width: $bp1280) {
      &:not(.disable-image-scale-desktop) {
        background-color: transparent!important;
      }
      &.disable-image-scale-desktop {
        background-color: inherit;
        &:before {
          background-size: auto 100%;
          background-repeat: no-repeat;
        }
      }
    }
    &:not([class*="preserve-row-content-above"]) {
      @media screen and (max-width: $bp1280 - 1px) {
        background-size: 0!important;
        height: auto!important;
        &[class*="ptop"] {
          padding-top: 0;
        }
        &[class*="pbot"] {
          padding-bottom: 0;
        }
        &:before {
          background-image: inherit;
          background-size: cover;
          background-position: 50% 50%;
          content: '';
          height: 400px;
          width: 100%;
          display: block;
        }
        &:after {
          content: '';
          clear: both;
          display: block;
        }
        >.row {
          height: auto;
        }
        &[class*="cells-valign"] {
          >.row:after {
            display: none;
          }
        }
      }
    }
    @media screen and (max-width: $bp720) {
      .body &:before {
        height: 240px;
        padding-top: 56.25%
      }
    }
    &:not(.ignore-default-height) {
      @media screen and (min-width: $bp1280) {
        height: 600px!important;
      }
    }
  }
  &.preserve-image-ratio {
    height: auto;
    min-height: 0!important;
    img {
      width: 100%;
      height: auto;
    }
  }
  &.suppress-bkg-image-mobile:before {
    @media screen and (max-width: 1280px) {
      display: none; 
    }
  }
  &.disable-image-scale-desktop {
    @media screen and (min-width: $bp1280) {
      background-size: auto 100%!important;
    }
  }
  &.dynamic-bg {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.section {
  &.bkg-color-turquoise {
    background-color: $color-turquise!important;
    border-color: $color-white;
    color: $color-white;
    @include headings-color($color-white);
    a {
      color: $color-white;
      border-color: $color-white;
    }
  }
  &.bkg-color-light-black {
    background-color: $color-light-black!important;
    border-color: $color-white;
    color: $color-white;
    @include headings-color($color-white);
    a {
      &:not(.button) {
        color: $color-white;
        border-color: $color-white;
      }
    }
  }
  &.bkg-color-light-grey {
    background-color: $color-light-grey2!important;
  }
}
  
