#body .collage-layout {
  > .row {
    [class*="span"] {
      padding: 0;
    }
  }
  @media screen and (min-width: $bp720) {
    > .row {
      position: relative;
      padding: 0;
      padding-top: 131.25%;
      > * {
        width: 50%;
        max-width: 100%;
        padding: 0;
        left: 0;
        top: 0;
        position: absolute;
        height: 33.33%;
      }
    }
    &.wide-cell-position-0 {
      > .row {
        .span8 {
          &:nth-child(3) {left: 50%;}
          &:nth-child(4) {top: 66.66%;}
          &:nth-child(5) {top: 66.66%; left: 50%;}
        }
        .span16 {
          width: 100%;
          top: 33.33%;
        }
      }
    }
    &.wide-cell-position-1 {
      > .row {
        .span8 {
          &:nth-child(3) {left: 50%;}
          &:nth-child(4) {top: 66.66%;}
          &:nth-child(5) {top: 66.66%; left: 50%;}
        }
        .span16 {
          width: 100%;
          top: 33.33%;
        }
      }
    }
    &.wide-cell-position-3 {
      > .row {
        .span8 {
          &:nth-child(2) {left: 50%;}
          &:nth-child(3) {top: 66.66%;}
          &:nth-child(5) {top: 66.66%; left: 50%;}
        }
        .span16 {
          width: 100%;
          top: 33.33%;
        }
      }
    }
    &.wide-cell-position-4 {
      > .row {
        .span8 {
          &:nth-child(2) {left: 50%;}
          &:nth-child(3) {top: 66.66%;}
          &:nth-child(4) {top: 66.66%; left: 50%;}
        }
        .span16 {
          width: 100%;
          top: 33.33%;
        }
      }
    }
  }
  @media screen and (min-width: $bp1280) {
    > .row {
      padding-top: 58.33%;
      [class*="span"] {
        height: 50%;
        width: 33.33%;
      }
    }
    &.wide-cell-position-0 {
      > .row {
        .span8 {
          &:nth-child(2) {left: 66.66%;}
          &:nth-child(3) {left: 0%; top: 50%}
          &:nth-child(4) {left: 33.33%; top: 50%;}
          &:nth-child(5) {left: 66.66%; top: 50%;}
        }
        .span16 {
          width: 66.66%;
          top: 0;
        }
      }
    }
    &.wide-cell-position-1 {
      > .row {
        .span8 {
          &:nth-child(3) {left: 0; top: 50%}
          &:nth-child(4) {left: 33.33%; top: 50%;}
          &:nth-child(5) {left: 66.66%; top: 50%;}
        }
        .span16 {
          width: 66.66%;
          top: 0;
          left: 33.33%;
        }
      }
    }
    &.wide-cell-position-3 {
      > .row {
        .span8 {
          &:nth-child(2) {left: 33.33%;}
          &:nth-child(3) {top: 0; left: 66.66%;}
          &:nth-child(5) {top: 50%; left: 66.66%;}
        }
        .span16 {
          width: 66.66%;
          top: 50%;
        }
      }
    }
    &.wide-cell-position-4 {
      > .row {
        .span8 {
          &:nth-child(2) {left: 33.33%;}
          &:nth-child(3) {top: 0; left: 66.66%;}
          &:nth-child(4) {top: 50%; left: 0}
        }
        .span16 {
          top: 50%;
          left: 33.33%;
          width: 66.66%;
        }
      }
    }
  }
}