
//width of a single grid unit
$multiplier: 100% / 24;

.section {
  .row {
    line-height: 0;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1920px;
    [class*="span"], > div, > span {
      line-height: 1.5;
    }

    @media screen and (min-width: $bp720) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media screen and (min-width: $bp960) {
      padding-left: 16px;
      padding-right: 16px;
    }
    @media screen and (min-width: $bp1280) {
      padding-left: 18px;
      padding-right: 18px;
    }
    .row {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &.no-width-limits {
    .row {
      max-width: none;
    }
  }
  [class*="span"]:empty {
    display: none;
  }
  &.layout-1280 {
    .row {
      max-width: 1280px;
    }
  }
  &.layout-960 {
    .row {
      max-width: 960px;
    }
  }
  &.layout-720 {
    .row {
      max-width: 720px;
    }
  }
  &.cells-center {
    .row {
      text-align: center;
      [class*="span"] [class*="molecule-"]:not([class*="text-"]) {
        text-align: left;
      }
    }
  }
  &.cells-right {
    .row {
      text-align: right;
      [class*="span"] [class*="molecule-"]:not([class*="text-"]) {
        text-align: left;
      }
    }
  }
  &.drop-cell-spacings {
    [class*="span"] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.drop-row-horizontal-spacings .row, .row.drop-row-horizontal-spacings {
    padding-left: 0;
    padding-right: 0;
  }
  &.drop-all-spacings .row, .row.drop-all-spacings {
    padding: 0;
    [class*="span"] {
      padding: 0;
    }
  }
  &.cells-spacings-5 {
    .row {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media screen and (min-width: $bp720) {
      .row {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    @media screen and (min-width: $bp960) {
      .row {
        padding-left: 26px;
        padding-right: 26px;
      }
    }
    @media screen and (min-width: $bp1280) {
      .row {
        padding-left: 28px;
        padding-right: 28px;
      }
    }
    [class*="span"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &.cells-spacings-30 {
    overflow: hidden;
    @media screen and (min-width: $bp720) {
      [class*="span"] {
        padding-left: 30px;
        padding-right: 30px;
        [class*="span"] {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
  &.cells-valign-middle {
    >.row {
      height: 100%;
      white-space: nowrap;
      &:after {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      >[class*="span"] {
        white-space: normal;
        vertical-align: middle;
      }
    }
  }
  &.cells-valign-bottom {
    >.row {
      height: 100%;
      white-space: nowrap;
      &:after {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: bottom;
      }
      >[class*="span"] {
        white-space: normal;
        vertical-align: bottom;
      }
    }
  }
}

[class*="span"] {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  outline: none;
}
@media screen and (min-width: $bp720) {
  [class*="span"] {
    padding: 0 15px;
  }
}

@for $i from 1 through 24 {
  .span#{$i} {
    width: $i * $multiplier;
  }
  .offset#{$i} {
    margin-left: $i * $multiplier;
    @media screen and (max-width: $bp720) {
      margin-left: 0;
    }
  }
}

//DEFAULT breakpoints for cells wrapping
@for $i from 13 through 23 {
  .section:not(.non-stackable-cells) .span#{$i} {
    @media screen and (max-width: $bp960) {
      width: 100%;
    }
  }
}
.section:not(.non-stackable-cells) [class*="span"] [class*="span"] {
    @media screen and (max-width: $bp960) {
      padding: 0;
    }
  }
.section:not(.non-stackable-cells) .span12 {
  @media screen and (max-width: $bp720) {
    width: 100%;
  }
}

.section:not(.non-stackable-cells) {
  .span1, .span2, .span3, .span4, .span5, .span7, .span9, .span10, .span11 {
    @media screen and (max-width: $bp720) {
      width: 100%;
    }
  }
}

.section:not(.non-stackable-cells) {
  &:not(.adaptive-slider) {
    &:not(.custom-mobile-width) {
      .span8 {
        @media screen and (max-width: $bp960) {
          width: 100%;
          max-width: 630px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        .cells-right & {
          @media screen and (max-width: $bp960) {
            margin-left: 0;
            margin-right: 0;
            display: inline-block;
          }
        }
      }
    }
  }
  &.custom-mobile-width {
    .span8 {
      @media screen and (max-width: $bp960) {
        width: 50%;
      }
      @media screen and (max-width: $bp720) {
        width: 100%;
      }
    }
  }
}
.section:not(.non-stackable-cells) .span6 {
  @media screen and (max-width: $bp1280) {
    width: 50%;
  }
  @media screen and (max-width: $bp720) {
    width: 100%;
    display: block;
  }
}
.section.non-stackable-cells {
  &.non-stackable-only-nested-cells {
    > .row {
      @media screen and (max-width: $bp960) {
        > .span6 {
          width: 50%;
        }
        > .span8 {
          width: 100%;
        }
      }
      @media screen and (max-width: $bp720) {
        > .span6, > .span8, > .span12 {
          width: 100%;
        }
      }
    }
  }
}
.break-below-960 {
  @media screen and (min-width: $bp960) {
    display: none;
  }
}
.break-below-1280 {
  @media screen and (min-width: $bp1280) {
    display: none;
  }
}
.show-above-1280 {
  /*show AT and ABOVE*/
  @media screen and (max-width: $bp1280 - 1px) {
    display: none!important;
  }
}
.show-below-1280 {
  /*show ONLY BELOW*/
  @media screen and (min-width: $bp1280) {
    display: none!important;
  }
}
.show-above-960 {
  /*show AT and ABOVE*/
  @media screen and (max-width: $bp960 - 1px) {
    display: none!important;
  }
}
.show-below-960 {
  /*show ONLY BELOW*/
  @media screen and (min-width: $bp960) {
    display: none!important;
  }
}
.show-above-720 {
  /*show AT and ABOVE*/
  @media screen and (max-width: $bp720 - 1px) {
    display: none!important;
  }
}
.show-below-720 {
  /*show ONLY BELOW*/
  @media screen and (min-width: $bp720) {
    display: none!important;
  }
}
.equal-cells > .row > [class*="span"] > [class*="molecule-"].equal-cells-initialized {
  min-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.section.wrap-on-960:not(.non-stackable-cells):not(.adaptive-slider):not(.custom-mobile-width) {
  @media screen and (min-width: $bp960) {
    .span6 {
      width: 25%;

    }
    .span6, .span8, .span12 {
      padding: 0 10px;
    }
  }
  @media screen and (max-width: $bp960) {
    .span6, .span8, .span12 {
      width: 100%;
      max-width: $bp720;
      display: block;
      margin: 0 auto;
    }
  }
}

.hide-content {
    height: 0!important;
    opacity: 0!important;
    visibility: hidden!important;
    padding: 0!important;
    margin: 0!important;
    overflow: hidden!important;
}

/*IMPORTS*/
@import 'collage-layout';