.section.show-below-720.white-border-bottom {
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.molecule-lb-413.one-line,
.vertical-drawer-section .molecule-lb-413 {
  ul {
    display: flex;
    padding-left: 1px;
    li {
      display: inline-block;
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      a {
        cursor: default;
      }
    }
  }
}

.molecule-lb-413.two-columns {
  ul {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    li {
      flex-basis: 45%;
      &:nth-child(2n+1) {
        margin-left: 0;
      }
      &:nth-child(2n) {
        margin-left: 20px;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .vertical-drawer-section {
    height: 652px;
    min-height: 652px;
    >.row {
      display: flex;
      width: 100%;
      height: 100%;
      >.span8 {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-color: #000;
        display: block;
        border-left: 1px solid #fff;
        position: relative;
        transition: width .3s ease;
        cursor: pointer;
        &:first-child {
          border-left: 0;
          background-position: 25% 50%;
        }
        &:nth-child(5) {
          background-position: 62% 50%;
        }
        &:before {
          content: "";
          background: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
        }
      }
      &.active {
        >.span8 {
          width: 125px;
          .molecule-lb-300 {
            top: 10px;
            transform: none;
            display: flex;
            flex-direction: column;
            width: 50px;
            h2 {
              display: inline-block;
              transform-origin: 7px 32px;
              transform: rotate(90deg);
              white-space: nowrap;
              text-align: left;
              order: 2;
              cursor: pointer;
            }
            .icon-plus {
              order: 1;
            }
          }
          &.active {
            cursor: default;
            &:before {
              display: none;
            }
            .molecule-lb-300 {
              display: none;
            }
          }
        }
      }
      >.span24 {
        display: none;
      }
      .molecule-lb-300 {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        a.bottom-link {
          display: none;
        }
        .icon-plus {
          width: 43px;
          height: 43px;
          margin: 0 auto;
          margin-top: 20px;
          cursor: pointer;
          &:before {
            font-size: 42px;
            padding: 0;
          }
        }
      }
    }
    .vertical-drawer-content {
      position: absolute;
      overflow: hidden;
      max-height: 0;
      background-color: #f5f5f5;
      width: 375px;
      height: 100%;
      transition: width .3s ease;
      padding: 0 115px 0 100px;
      .flex2-molecule {
        opacity: 0;
        transition: opacity .3s ease;
        transition-delay: .2s;
      }
      .flex2-molecule {
        margin: 0;
      }
      .molecule-lb-800 {
        width: 100%;
        .span8 {
          width: 100%;
          max-width: none;
        }
        .span12 {
          width: 49%;
          padding: 0 10px;
        }
      }
      .molecule-lb-501 {
        text-align: left;
        h3,
        .description,
        .text-wrapper {
          margin-left: 0!important;
          margin-right: 0 !important;
          font-size: 18px;
        }
        .description {
          margin: 0;
        }
        &.dottedList {
          .description {
            padding-left: 20px;
            ul {
              margin: 0;
              li {
                list-style: disc;
              }
            }
          }
        }
      }
      &.with-slider {
        .vd-slider {
          display: block;
          .span12 {
            width: 100%;
            .molecule-lb-501 {
              width: 100%;
              padding: 1px;
            }
          }
        }
      }
      &.active {
        position: relative;
        max-height: initial;
        padding-top: 55px;
        padding-bottom: 80px;
        width: calc(100% - 375px);
        .flex2-molecule {
          opacity: 1;
        }
        .molecule-lb-300 {
          color: #5a5a5a;
          position: static;
          transform: none;
          text-align: left;
          margin-bottom: 10px;
          h2 {
            display: inline-block;
            transform: none;
            text-align: left;
            cursor: default;
          }
          .icon-plus {
            position: absolute;
            transform: rotate(45deg);
            left: auto;
            margin: 0;
            right: 20px;
            top: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .vertical-drawer-section {
    .vertical-drawer-content {
      padding: 0 9% 0 6%;
      .molecule-lb-413 {
        ul li {
          margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }
          img {
            width: 35px;
            height: 35px;
          }
        }
      }
      &.active {
        padding-top: 35px;
        padding-bottom: 60px;
      }
      &.with-slider {
        .slick-prev,
        .slick-next {
          display: none!important;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .vertical-drawer-section {
    .vertical-drawer-content {
      &.with-slider {
        .slick-prev {
          left: -55px;
        }
        .slick-next {
          right: -55px;
        }
      }
      &:not(.with-slider) {
        .molecule-lb-501 {
          .clf {
            img {
              max-width: 70%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .vertical-drawer-section {
    height: 917px;
    min-height: 917px;
    >.row {
      .vertical-drawer-content {
        width: 525px;
        padding: 0 65px 0 125px;
        .molecule-lb-501 {
          h3,
          .description,
          .text-wrapper {
            font-size: 20px;
          }
          &.image-as-is {
            .clf img {
              width: 100%;
            }
          }
        }
        &:not(.with-slider) {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          height: 100%;
          .molecule-lb-300 {
            align-self: flex-start;
          }
          .molecule-lb-501 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 32px;
            width: 100%;
            .clf {
              margin-right: 30px;
              width: 40%;
            }
            .text-wrapper {
              width: 60%;
              margin-top: 0;
            }
          }
        }
        &.active {
          padding-top: 115px;
          padding-bottom: 100px;
          width: calc(100% - 525px);
          .molecule-lb-300 {
            .icon-plus {
              top: 70px;
            }
          }
        }
        &.with-slider {
          .molecule-lb-300 {
            margin-bottom: 50px;
          }
          .slick-prev {
            left: -6%;
          }
          .slick-next {
            right: -6%;
          }
          .vd-slider {
            .span12 {
              width: 49%;
            }
            .molecule-lb-501 {
              &.image-as-is {
                .clf img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      &.active {
        >.span8 {
          width: 175px;
          .molecule-lb-300 {
            top: 50px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1400px) {
  .vertical-drawer-section {
    >.row {
      .vertical-drawer-content {
        padding: 0 65px 0 100px;
        &.active {
          padding-top: 100px;
          padding-bottom: 80px;
        }
      }
    }
  }
}
