.button {
  transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease;
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 0 30px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: $color-black;
  font-size: 1.125rem;
  line-height: 50px;
  letter-spacing: 0.05rem;
  text-indent: 0.1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  max-width: calc(100% - 16px;);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
  > span {
    color: inherit!important;
  }
  &:hover {
    text-decoration: none;
  }
  &.primary {
    @include buttonLb($color-white, $color-blue, $color-blue, $color-white, $color-blue-dark, $color-blue-dark);
  }
  &.secondary {
    @include buttonLb($color-blue, $color-white, $color-blue, $color-white, $color-blue-dark, $color-blue-dark);
  }
  &.transparent {
    @include buttonLb($color-blue, transparent, $color-blue, $color-white, $color-blue-dark, $color-blue-dark);
  }
  .cta-dark &.primary {
    @include buttonLb($color-white, $color-black, $color-black, $color-black, $color-white, $color-white);
  }
  .cta-dark &.secondary {
    @include buttonLb($color-black, $color-white, $color-black, $color-white, $color-black, $color-white);
  }
  .cta-dark &.transparent {
    @include buttonLb($color-black, transparent, $color-black, $color-white, $color-black, $color-black);
  }
  .cta-light &.primary {
    @include buttonLb($color-black, $color-white, $color-white, $color-white, transparent, $color-white);
  }
  .cta-light &.secondary {
    @include buttonLb($color-white, transparent, $color-white, $color-black, $color-white, $color-white);
  }
  .cta-light &.transparent {
    @include buttonLb($color-white, transparent, $color-white, $color-black, $color-white, $color-white);
  }
  .small-btn & {
    min-width: 150px;
  }
  .large-btn & {
    min-width: 250px;
  }
}
.cta-wrapper {
  line-height: 0;
  margin-top: .5rem;
  > * {
    margin: 1rem 1rem 0 0;
    &:last-child:first-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
  [dir="rtl"] & > *,
  .text-right & > * {
    margin: 1rem 0 0 1rem;
  }
  .text-center & > * {
    margin: 1rem .5rem 0;
  }
  @media screen and (max-width: $bp960) {
    .molecule-lb-302.text-center-mobile & > * {
      margin: 1rem .5rem 0;
    }
  }
  @media screen and (max-width: $bp720) {
    .text-center-mobile & > * {
      margin: 1rem .5rem 0;
    }
  }
  @media screen and (min-width: $bp720) {
    margin-top: 1rem;
  }
}
.button-placeholder-style {
  a.button {
    pointer-events: none;
    cursor: default;
    background: $color-lighter-grey4;
    color: $color-black;
    border-color: $color-lighter-grey4;
  }
}
