/* REGULAR */
@font-face{
  font-family: 'HPSimplified';
  src: url('/fonts/hps/latin-e-regular-eot.eot');
  src: url('/fonts/hps/latin-e-regular-woff.woff') format('woff'),
      url('/fonts/hps/latin-e-regular-ttf.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}


/* BOLD */
@font-face{
  font-family: 'HPSimplified';
  src: url('/fonts/hps/latin-e-bold-eot.eot');
  src: url('/fonts/hps/latin-e-bold-woff.woff') format('woff'),
      url('/fonts/hps/latin-e-bold-ttf.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}


/* LIGHT */
@font-face{
  font-family: 'HPSimplifiedLight';
  src: url('/fonts/hps/latin-e-light-eot.eot');
  src: url('/fonts/hps/latin-e-light-woff.woff') format('woff'),
      url('/fonts/hps/latin-e-light-ttf.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}


/* LIGHT ITALIC */
@font-face{
  font-family: 'HPSimplifiedLight';
  src: url('/fonts/hps/latin-e-light-italic-eot.eot');
  src: url('/fonts/hps/latin-e-light-italic-woff.woff') format('woff'),
      url('/fonts/hps/latin-e-light-italic-ttf.ttf') format('truetype');

  font-weight: normal;
  font-style: italic;
}

@font-face {
    font-family: 'HPIFlex2Icons';
    src: url('/fonts/icons/HPIFlex2Icons-eot.eot');
    src: url('/fonts/icons/HPIFlex2Icons-eot.eot?#iefix') format("embedded-opentype"),
      url('/fonts/icons/HPIFlex2Icons-woff.woff') format("woff"),
      url('/fonts/icons/HPIFlex2Icons-ttf.ttf') format("truetype"),
      url('/fonts/icons/HPIFlex2Icons-svg.svg?#icomoon') format("svg");
    font-weight: normal;
    font-style: normal;
}
