div.body .molecule-lb-501 {
  .clickable-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  .overlay-popup {
    display: none;
  }
  .clf {
    position: relative;
    line-height: 0;
    + * {
      margin-top: 20px;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .videoitem {
    .video-thumbnail {
      position: relative;
      line-height: 0;
      min-height: 100px;
      @media screen and (min-width: $bp720) {
        min-height: 130px;
      }
      .video-time {
        display: none;
      }
    }
    + * {
      margin-top: 20px;
    }
  }
  &:not(.image-as-is) {
    img {
      width: 100%;
    }
    @media screen and (max-width:720px) {
      .section[class*="-spacings"] & {
        .clf, .videoitem {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
  &.image-center {
    .video-thumbnail, .clf {
      text-align: center;
    }
  }
  /*alignes text of .description to the left, while the exact description is centered*/
  &.text-left-content-center {
    text-align: center;
    .description {
      display: inline-block;
      text-align: left;
    }
  }
  &.sticky-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 15;
    left: 0;
  }
  .description:after {
    content: '';
    clear: both;
    display: table;
  }
  &.text-above-image {
    .clf, .videoitem {
      margin-top: 20px;
    }
  }
  &.text-over-image {
    padding: 0;
    position: relative;
    .module-content {
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      padding: 20px;
      margin: auto!important;
      right: 0;
    }
    &.ptop {
      .module-content {
        padding-top: 25px;
      }
    }
    &.ptop-75 {
      .module-content {
        padding-top: 35px;
      }
    }
    &.ptop-100 {
      .module-content {
        padding-top: 40px;
      }
    }
    &.text-center {
      .module-content {
        max-width: 800px;
      }
    }
    @media screen and (min-width: $bp720) {
      .module-content {
        padding: 40px 25px;
      }
      &.ptop {
        .module-content {
          padding-top: 50px;
        }
      }
      &.ptop-75 {
        .module-content {
          padding-top: 75px;
        }
      }
      &.ptop-100 {
        .module-content {
          padding-top: 100px;
        }
      }
    }
  }
}

.align-cta-bottom {
  >.row > [class*="span"],
  >.row > .slick-list > .slick-track > [class*="span"] {
    &.ctas-amount-1 {
      border-bottom: 75px solid transparent;
    }
    &.ctas-amount-2 {
      border-bottom: 141px solid transparent;
    }
    &.ctas-amount-3 {
      border-bottom: 205px solid transparent;
    }
    @media screen and (min-width: $bp720) {
      &.ctas-amount-1 {
        border-bottom: 82px solid transparent;
      }
      &.ctas-amount-2 {
        border-bottom: 149px solid transparent;
      }
      &.ctas-amount-3 {
        border-bottom: 213px solid transparent;
      }
    }
  }
  &.adaptive-slider:not(.grid-slider) {
    @media screen and (max-width: $bp720 - 1px) {
      .molecule-lb-501 .link-lists {
        position: relative;
      }
      >.row > [class*="span"],
      >.row > .slick-list > .slick-track > [class*="span"] {
        border-bottom: 0;
      }
    }
  }
}
.molecule-lb-501 {
  .align-cta-bottom & {
    position: relative;
    .link-lists {
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 100%;
      transition: opacity .3s ease;
      margin-top: 0;
    }
    &.equal-cells-initialized {
      .link-lists {
        opacity: 1;
      }
    }
  }
  .align-descriptions & {
    .description {
      opacity: 0;
      transition: opacity .3s ease;
    }
    &.equal-cells-initialized {
      .description {
        opacity: 1;
      }
    }
  }
}
div.body .layout-720 .molecule-lb-501.sticky-bottom {
  > * {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
div.body .layout-960 .molecule-lb-501.sticky-bottom {
  > * {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
div.body .drop-all-spacings .molecule-lb-501,
div.body .drop-cell-spacings .molecule-lb-501,
div.body .drop-row-horizontal-spacings .molecule-lb-501,
.molecule-lb-501.sticky-bottom {
  >*:not(.clf):not(.videoitem) {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (max-width: $bp720) {
  div.body .drop-all-spacings .molecule-lb-501,
  div.body .drop-cell-spacings .molecule-lb-501,
  div.body .drop-row-horizontal-spacings .molecule-lb-501,
  div.body .molecule-lb-501.sticky-bottom {
    >*:not(.clf):not(.videoitem) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
