@mixin headings-color($value) {
  h1, h2, h3, h4, h5, .tagline, .small-caption {
    color: $value;
    border-color: $color-white;
  }
}

@mixin font-color-theme1() {
  color: $color-white;
  border-color: $color-white;
  *:not(.button) {
    color: $color-white;
    border-color: $color-white;
  }

  @include headings-color($color-white);

  &:not(.default-cta-style) {
    .button.primary {
      @include buttonLb($color-black, $color-white, $color-white, $color-white, transparent, $color-white);
      > span {
        color: inherit;
      }
    }
    .button.secondary,
    .button.transparent {
      @include buttonLb($color-white, transparent, $color-white, $color-black, $color-white, $color-white);
    }
  }

  .button-placeholder-style, &.button-placeholder-style {
    .button.primary, .button.secondary, .button.transparent {
      opacity: 0.5;
    }
  }
}

div.body {
  color: $color-dark-grey;
  @include headings-color($color-black);
  .ignore-default-text-color {
    color: $color-black;
    border-color: $color-white;
  }
  /*preserve light color if content is not shifted below the ROW on mobiles*/
  .preserve-row-content.font-color-theme1,
  .preserve-row-content .font-color-theme1,
  .molecule-lb-302.font-color-theme1,
  .font-color-theme1 .molecule-lb-302  {
    color: $color-white;
    border-color: $color-white;
    @include headings-color($color-white);
    @include font-color-theme1();
  }
  .preserve-row-content-above-720.font-color-theme1,
  .preserve-row-content-above-720 .font-color-theme1 {
    @media screen and (min-width: $bp720 + 1px) {
      color: $color-white;
      border-color: $color-white;
      @include headings-color($color-white);
      @include font-color-theme1();
    }
  }
  .preserve-row-content-above-960.font-color-theme1,
  .preserve-row-content-above-960 .font-color-theme1 {
    @media screen and (min-width: $bp960 + 1px) {
      color: $color-white;
      border-color: $color-white;
      @include headings-color($color-white);
      @include font-color-theme1();
    }
  }
  @media screen and (min-width: $bp1280) {
    .font-color-theme1 {
      @include font-color-theme1();
    }
  }
  .section.preserve-row-content,
  .section:not([style*="url"]) {
    .font-color-theme1 {
      @include font-color-theme1();
    }
  }

  @media screen and (max-width: $bp1280) {
    .font-color-theme1-mobile {
      @include font-color-theme1();
    }
  }

  .gold-title {
    h1, h2, h3 {
      color: $color-gold!important;
    }
  }
}