a {
  color: $color-blue;
  text-decoration: none;
  &:hover {
    color: $color-blue-dark;
    text-decoration: underline;
  }
  @media screen and (max-width: $bp720) {
    overflow-wrap: break-word;
      word-wrap: break-word;
  }
  &.clickable-overlay {
    text-decoration: none;
    outline: none;
  }
}
