@mixin buttonLb($textColor, $bgColor, $borderColor, $hoverTextColor, $hoverBgColor, $hoverBorderColor) {
  color: $textColor;
  background-color: $bgColor;
  border: 1px solid $borderColor;
  &:hover {
    color: $hoverTextColor;
    background-color: $hoverBgColor;
    border-color: $hoverBorderColor;
  }
}

@mixin fillParent() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}