// Breakpoints
$bp360:  360px;
$bp496:  496px;
$bp720:  720px;
$bp800:  800px;
$bp960:  960px;
$bp1280: 1280px;
$bp1920: 1920px;

// Colors
$color-white:       	#FFFFFF;
$color-black:       	#000000;
$color-light-black: 	#191919;
$color-light-black2: 	#231f20;
$color-grey:        	#767676;
$color-light-grey:  	#DDDDDD;
$color-light-grey2:		#FAFAFA;
$color-light-grey3:		#CCCCCC;
$color-light-grey4:		#999999;
$color-light-grey5:		#DCDCDC;
$color-lighter-grey:	#FCFCFC;
$color-lighter-grey2:	#F6F6F6;
$color-lighter-grey3:	#e8e8e8;
$color-lighter-grey4:	#eaeaea;
$color-lighter-grey5:	#EDEDED;
$color-lighter-grey6:	#f2f2f2;
$color-lighter-grey7:	#f8f8f8;


$color-dark-grey:   #5a5a5a;
$color-dark-grey2:	#7A7A7A;
$color-blue:        #0096d6;
$color-blue-dark:   #0171ad;
$color-blue-bright:	#1997d3;
$color-turquise:	#009BA0;
$color-gold: 		#9A7119;


