/*default styles START*/
/*.js_secondary_nav {
  display: none;
}*/
/*default styles END*/

.mtop-mol, .mtop {
  margin-top: 25px;
}
.mbot-mol, .mbot {
  margin-bottom: 25px;
}
.mtop-20 {
  margin-top: 20px;
}
.mbot-20 {
  margin-bottom: 20px;
}
.mtop-75 {
  margin-top: 35px;
}
.mbot-75 {
  margin-bottom: 35px;
}
.mtop-100 {
  margin-top: 40px;
}
.mbot-100 {
  margin-bottom: 40px;
}
.ptop, [class*="span"].ptop {
  padding-top: 25px;
}
.pbot, [class*="span"].pbot {
  padding-bottom: 25px;
}
.ptop-75 {
  padding-top: 35px;
}
.pbot-75 {
  padding-bottom: 35px;
}
.ptop-100 {
  padding-top: 40px;
}
.pbot-100 {
  padding-bottom: 40px;
}
.wrap-vertical20-10 {
  padding: 10px 0;
}
.wrap-vertical40-20 {
  padding: 20px 0;
}
.wrap20, .wrap40 {
  padding: 20px;
}
.button {
  margin-top: 1.5rem;
}
//used for displaying price at the next line
.top-spacing {
  display: block;
  margin-top: 1.125rem;
  color: $color-black;
  font-weight: normal;
  @media screen and (min-width: $bp1280) {
    margin-top: 1.25rem;
  }
  .font-color-theme1 & {
    color: $color-white;
  }
}

@media screen and (min-width: $bp720) {
  .mtop-mol {
    margin-top: 50px;
  }
  .mbot-mol {
    margin-bottom: 50px;
  }
  .ptop, [class*="span"].ptop {
    padding-top: 50px;
  }
  .pbot, [class*="span"].pbot {
    padding-bottom: 50px;
  }
  .ptop-75 {
    padding-top: 75px;
  }
  .pbot-75 {
    padding-bottom: 75px;
  }
  .ptop-100 {
    padding-top: 100px;
  }
  .pbot-100 {
    padding-bottom: 100px;
  }
  .mtop {
    margin-top: 50px;
  }
  .mbot {
    margin-bottom: 50px;
  }
  .mtop-75 {
    margin-top: 75px;
  }
  .mbot-75 {
    margin-bottom: 75px;
  }
  .mtop-100 {
    margin-top: 100px;
  }
  .mbot-100 {
    margin-bottom: 100px;
  }
  .wrap40 {
    padding: 40px;
  }
  .wrap-vertical20-10 {
    padding: 20px 0;
  }
  .wrap-vertical40-20 {
    padding: 40px 0;
  }
  .button {
    margin-top: 2rem;
  }
}