/*Text alignment*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
  [dir="rtl"] & {
    text-align: left;
  }
}

.text-center-mobile {
  @media screen and (max-width: $bp720) {
    text-align: left;
  }
}

hr {
  margin: 15px 0;
  border: none;
  height: 1px;
  display: block;
  background: #ddd;
}