@import 'normalize';
@import 'site-variables';
@import 'mixins';
@import 'colors';
@import 'text-alignments';
@import 'links';
@import 'spacings';

.screenReading {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

//hidden by default blocks
.hide-flex3, .hidden, .row-anchor-helper, .empty-block {
  display: none;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.nowrap {
  white-space: nowrap;
}
.break-below-720 {
  @media screen and (min-width: $bp720) {
    display: none;
  }
}
.flex2-molecule.text-center-mobile {
  @media screen and (max-width: $bp720) {
    text-align: center;
  }
}
br {
  margin: 0!important;
  padding: 0!important
}

//hack for parallax-panel
//TODO remove it from here and put to the 999 with parallax panel
@media screen and (max-width: $bp720) {
  .parallax-panel {
    display: block!important;
  }
}
