@import 'dev/fonts';
/* this file contains ONLY local styles to help style dev environment and samples
 * use "dev-" preffix for additional classnames
 **/
.dev-row {
  padding: 20px 30px;
  text-transform: uppercase;
  background-color: #00A500;
  color: white;
  * {
    color: white!important;
  }
  p {
    text-transform: initial;
  }
}
//grid page ONLY dev styles
.dev-grid-samples {
  [class*="span"] {
    position: relative;
    color: white;
  }
  [class*="span"], .drop-cell-spacings [class*="span"] {
    height: 200px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  [class*="span"]:after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 1px;
    bottom: 1px;
    background: green;
    display: block;
    z-index: -1;
  }
  .dev-color-orange:after {
    background: orange;
  }

  .dev-color-red:after {
    background: red;
  }
}
.dev-typography {
  table {
    width: 100%;
    td {
      border: 1px solid #d6d6d6;
    }
  }
}
.overlay-popup .spinner:after {
  background: url(/images/spinner.gif) 50% 50% no-repeat;
  background-size: 100%;
}
.global-header {
  height: 73px;
  background: url('/images/global-header-desktop.jpg') 50% 50% no-repeat;
  background-size: cover;
  border-bottom: 1px solid #B9B9BB;
  @media screen and (max-width: 1280px) {
    position: relative;
    background: none;
    &:before {
      content: '';
      height: 72px;
      position: absolute;
      width: 65px;
      left: 20px;
      background: url('/images/global-header-mobile-1.jpg') 50% 50% no-repeat;
      background-size: 100%;
    }
    &:after {
      content: '';
      height: 72px;
      position: absolute;
      width: 137px;
      right: 20px;
      background: url('/images/global-header-mobile-2.jpg') 50% 50% no-repeat;
      background-size: 100%;
    }
  }
}
