div.body div.section.scroll-wipe-banner {
  position: relative;
  width: 100%;
  user-select: none;
  opacity: 0;
  transition: opacity .3s ease;
  margin-top: 35px;
  @media screen and (min-width: $bp720) {
    margin-top: 50px;
  }
  > .row {
    overflow: hidden;
  }
  &.initialized {
    opacity: 1;
  }
  .molecule-lb-501 {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    margin-top: 0;
    margin-bottom: 0;
    img {
      display: block;
      width: 100vw;
      height: auto;
      max-width: none;
    }

  }
  [class*="show-above"].molecule-lb-501 {
    + [class*="show-above"].molecule-lb-501 {
      overflow: hidden;
      position: absolute;
    }
  }
  [class*="show-below"].molecule-lb-501:last-child {
    overflow: hidden;
    position: absolute;
  }

  .mover {
    position: absolute;
    height: 73%;
    width: 2px;
    top: 0;
    background-color: $color-grey;
    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      width: 2px;
      height: 40px;
      background-color: inherit;
    }
    &:before {
      top: -40px;
    }
    &:after {
      top: 100%;
    }
    @media screen and (max-width: $bp720 - 1px) {
      &:after, &:before {
        height: 25px;
      }
      &:before {
        top: -25px;
      }
    }
    .drag-area {
      position: absolute;
      z-index: 2;
      bottom: 0;
      transform: translate(50%, -60%);
      width: 5vw;
      height: 5vw;
      max-width: 58px;
      max-height: 58px;
      min-width: 40px;
      min-height: 40px;
      right: 0;
      left: auto;
      border-radius: 100%;
      cursor: pointer;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .6);
      background-color: $color-blue;
      &:before, &:after {
        content: '';
        position: absolute;
        width: 30%;
        height: 30%;
        top: 35%;
        border-left: 2px solid white;
        border-top: 2px solid white;
      }

      &:before {
        transform: rotate(-45deg);
        right: 50%;
        margin-right: -8%;
      }

      &:after {
        transform: rotate(135deg);
        left: 50%;
        margin-left: -8%;
      }
    }

  }
}
