.molecule-lb-302 {
  &:not(.no-image) {
    .middle-aligned-cells {
      background-color: inherit;
      height: 600px;
      display: table;
      table-layout: fixed;
      width: 100%;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      .image-holder {
        background-size: cover;
        background-position: 50% 50%;
        .mbot15 {
          line-height: 0;
        }
        img {
          display: none;
        }
      }
    }
    &:not(.respect-image-metadata-width) {
      .image-holder {
        width: 50%!important;
      }
    }
    &.image-width-60 .middle-aligned-cells .image-holder {
      width: 60% !important;
    }
    &.image-width-66 .middle-aligned-cells .image-holder {
      width: 66% !important;
    }
    .cloned.hidden-container {
      display: none;
    }
    &.image-align-left {
      .middle-aligned-cells .image-holder {
        background-position: 0% 50%;
      }
    }
    &.image-align-right {
      .middle-aligned-cells .image-holder {
        background-position: 100% 50%;
      }
    }
    &.content-valign-top {
      .middle-aligned-cells .text-block {
        vertical-align: top;
      }
    }
    &.content-valign-bottom {
      .middle-aligned-cells .text-block {
        vertical-align: bottom;
      }
    }
    .layout-960 &:not(.image-as-is) {
      @media screen and (min-width: $bp1280) {
        .middle-aligned-cells {
          height: 400px;
        }
      }
    }
    .layout-1280 &:not(.image-as-is) {
      @media screen and (min-width: $bp1280) {
        .middle-aligned-cells {
          height: 500px;
        }
      }
    }
    &.image-as-is {
      .middle-aligned-cells {
        height: auto;
        .image-holder {
          background: none!important;
          img {
            display: inline-block;
            max-width: 100%;
            height: auto;
          }
        }
      }
      &:not(.respect-image-metadata-width) {
        width: auto;
      }
      &.respect-image-metadata-width {
        width: auto;
        display: table;
        max-width: 100%;
        .middle-aligned-cells {
          width: auto;
          max-width: 100%;
        }
        .text-block {
          padding: 0 30px;
        }
        &.align-module-center {
          margin-left: auto;
          margin-right: auto;
        }
      }
      @media screen and (max-width: $bp960) {
        .middle-aligned-cells .image-holder {
          max-width: 640px;
          margin: 0 auto;
        }
        &.respect-image-metadata-width {
          .text-block {
            padding: 30px 0 0 0;
          }
          &.non-stackable-image {
            .text-block.cloned{
              display: none;
            }
            .middle-aligned-cells {
              .text-block,
              .image-holder {
                display: table-cell;
              }
            }
            &.image-left {
              .text-block {
                padding: 0 0 0 15px;
              }
            }
            &.image-right {
              .text-block {
                padding: 0 15px 0 0;
              }
            }
          }
        }
      }
    }
    &.image-mobile-spacings {
      [class*="drop-all-spacings"] & {
        @media screen and (max-width: $bp720) {
          .middle-aligned-cells {
            margin: 0 20px;
            width: auto;
          }
        }
      }
    }
    &.image-height-400 {
      @media screen and (min-width: $bp1280) {
        .middle-aligned-cells {
          height: 400px;
        }
      }
    }
    &.reduce-text-spacings {
      .text-block {
        padding: 30px;
      }
    }
    &.text-center-mobile {
      @media screen and (max-width: $bp960) {
        text-align: center;
      }
    }
    @media screen and (max-width: $bp1280) {
      .middle-aligned-cells {
        height: 400px;
      }
    }
    @media screen and (max-width: $bp960) {
      .middle-aligned-cells {
        display: block;
        > * {
          display: block;
          &.text-block {
            display: none;
          }
          &.image-holder {
            height: 100%;
          }
        }
      }
      &:not(.non-stackable-image) {
        .middle-aligned-cells {
          .image-holder {
            width: 100%!important;
          }
        }
      }
      &[class*="image-width"] .middle-aligned-cells .image-holder {
        width: 100% !important;
      }
      .cloned.hidden-container {
        display: block;
      }
      &.aspect-ratio-mobile-9-16 {
        .middle-aligned-cells {
          padding-top: 56.25%;
          height: 240px;
          position: relative;
          .image-holder {
            position: absolute;
            top: 0;
          }
        }
      }
    }
    @media screen and (max-width: $bp720) {
      .middle-aligned-cells {
        height: 240px;
      }
    }
  }
  .text-block {
    padding: 50px;
    > * {
      max-width: 654px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .video-thumbnail {
    position: relative;
    min-height: 100%;
    line-height: 0;
  }
  .video-time {
    display: none;
  }
  &.no-image {
    .text-block {
      max-width: 720px;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: $bp1280) {
    .text-block {
      padding: 50px 40px;
    }
  }

  @media screen and (max-width: $bp720) {
    .text-block {
      padding: 50px 20px;
    }
  }
}
