.molecule-lb-827 {
  /*Common styles*/
  max-width: 1380px;
  margin: 0 auto;
  .details {
    padding: 40px 50px;
    text-align: initial;
  }

  .content-list {
    .pagingInfo {
      right: 50px;
      margin-top: 50px;
      font-size: 1.125rem;
      line-height: 1.5;
      letter-spacing: 2px;
      bottom: auto;
    }
    .item {
      .details {
        background: $color-white;
        padding: 50px 95px 50px 50px;
        @media screen and (min-width: $bp1280) {
          h2 {
            letter-spacing: 2px;
          }
        }
      }
    }
    [dir="rtl"] & {
      .pagingInfo {
        right: auto;
        left: 50px;
      }
      .item .details {
        padding: 50px 50px 50px 95px;
      }
    }
    @media screen and (max-width: $bp1280) {
      .pagingInfo {
        margin-top: 25px;
        right: 25px;
      }
      .item .details {
        padding: 25px 60px 25px 25px;
      }
      [dir="rtl"] & {
        .pagingInfo {
          left: 25px;
        }
        .item .details {
          padding: 25px 25px 25px 60px;
        }
      }
    }
    @media screen and (max-width: $bp720) {
      .pagingInfo {
        font-size: 12px;
        line-height: 1.3;
        right: 20px;
      }
      .item .details {
        padding: 25px 55px 25px 20px;
        h2 {
          font-size: 13px;
          letter-spacing: 1px;
        }
        .description {
          font-size: 12px;
        }
      }
      [dir="rtl"] & {
        .pagingInfo {
          left: 20px;
        }
        .item .details {
          padding: 25px 20px 25px 55px;
        }
      }
    }
  }
}

@import 'molecule-lb-827-video-gallery';
@import 'molecule-lb-827-image-gallery';
