.molecule-lb-827.video-gallery {
  .content-wrapper {
    position: relative;
    .fader-helper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,.8);
    }
  }
  .content-list {
    .item-wrapper {
      position: relative;
      padding-top: 56.28%;
      line-height: 0;
      .image-container, .img {
        @include fillParent();
      }
      .image-container {
        z-index: 2;
        background: $color-black;
      }
    }
  }

  .thumbnails-wrapper {
    margin: 50px;
    .item {
      a {
        text-decoration: none;
        display: block;
        text-align: center;
        color: $color-dark-grey;
        transition: color .3s ease;
        img, span {
          width: 300px;
          height: auto;
          max-width: 85%;
          display: block;
          margin: 0 auto;
        }
        img {
          border: 2px solid $color-white;
          transition: border-color .3s ease;
        }
        span {
          margin-top: .5rem;
          @media screen and (min-width: $bp1280) {
            letter-spacing: 2px;
            margin-top: 1rem;
          }
        }
      }
      &.active {
        a {
          color: $color-blue;
          img {
            border-color: $color-blue;
          }
        }
      }
    }
    @media screen and (max-width: $bp1280) {
      margin: 25px 40px;
    }
    @media screen and (max-width: $bp720) {
      margin: 10px 0;
      .item a  {
        text-align: left;
        img, span {
          max-width: 80%;
        }
        span {
          line-height: 1.25;
          font-size: 11px;
        }
      }
    }
  }

  .video-container,
  .video-container > *,
  .video-container .bc-video-wrapper > div {
    @include fillParent();
  }
  .video-container {
    z-index: 1;
  }
}

.lb-slider {
  position: relative;
  .lb-slider-list {
    overflow: hidden;
    position: relative;
  }
  .lb-slider-track {
    white-space: nowrap;
    > * {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
    }
  }

  &.animate {
    .lb-slider-track {
      transition: transform .4s ease-out;
    }
  }
  
  button {
    font-size: 0;
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -15px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    padding: 0;
    border: none;
    outline: none;
    opacity: .5;
    z-index: 1;
    &.next, [dir="rtl"] &.prev {
      right: -15px;
      left: auto;
      border-top: 2px solid $color-grey;
      border-right: 2px solid $color-grey;
      border-left: none;
      border-bottom: none;
      -webkit-transform: skew(50deg, 0deg) rotate(45deg);
      transform: rotate(45deg);

    }
    &.prev, [dir="rtl"] &.next {
      left: -15px;
      right: auto;
      border-left: 2px solid $color-grey;
      border-top: 2px solid $color-grey;
      border-bottom: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &.disabled {
      pointer-events: none;
      opacity: .3;
    }
  }

  &.small-arrows {
    button {
      width: 20px;
      height: 20px;
      margin-top: -10px;
    }
  }
  &.no-arrows {
    button {
      display: none;
    }
  }
  @media screen and (max-width: $bp720) {
    button {
      display: none;
    }
  }
}