.molecule-lb-827.image-gallery {
	.content-overlay.overlay-popup & {
		.content-wrapper {
			position: relative;
			.fader-helper {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				background: rgba(0, 0, 0, .8);
			}
		}

		/* Image gallery slider in overlay start*/
		.slick-slider {
			@media screen and (min-width: $bp720) {
				// XXX: Fix for 1px gap during slider width recalculation
				.slick-list {
					//width: calc(100% + 1px);
				}
			}
		}
		/* Image gallery slider in overlay end*/
	}
  .content-wrapper {
    position: relative;
    background-color: $color-white;
    .fullscreen-mode-icon {
      display: block;
      position: absolute;
      margin-top: -44px;
      bottom: 0;
      right: 0;
      height: 44px;
      width: 44px;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.5);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      transition: opacity .3s ease, top .3s ease, background-color .3s ease;
      &:hover {
        background-color: $color-blue-bright;
        cursor: pointer;
      }
      img {
        position: absolute;
        top: 6px;
        left: 6px;
        height: 32px;
        &.fullscreen-close {
          display: none;
        }
      }
      &.opened {
        img {
          &.fullscreen-close {
            display: block;
          }
          &.fullscreen-open {
            display: none;
          }
        }
      }
      [dir="rtl"] & {
      	right: auto;
      	left: 0;
      }
    }
  }

	.item-wrapper {
		position: relative;
		padding-top: 43.4%;
		height: 0;
		width: auto;
		max-width: 1380px;
		margin: 0 auto;
		.image-container {
			background-color: $color-black;
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			display: block;
			overflow: hidden;
			img {
				display: block;
				width: auto;
				max-width: none;
				height: auto;
				max-height: 600px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.details {
		padding: 40px 50px;
	}
	.thumbnails-wrapper {
		position: relative;
		padding: 0;
		width: 100%;
		margin: 0 auto;
		background-color: $color-white;
		overflow: hidden;
		height: 184px;
		text-align: center;
		.scrolling-panel {
			width: 100%;
			height: 215px;
			margin: 0 auto;
			overflow-x: scroll;
			.thumbnails-list {
				display: inline-block;
				position: relative;
				white-space: nowrap;
				height: 184px;
				width: auto;
				padding: 25px 50px 65px 50px;
				* {
					transition: all 0.3s ease-in-out;
				}
				.item {
					display: inline-block;
					width: 110px;
					height: 94px;
					background-color: $color-light-grey5;
					margin-right: 20px;
					vertical-align: middle;
					&:last-child {
						margin-right: 0;
					}
					a {
						display: inline-block;
						width: 100%;
						height: 100%;
						line-height: 94px;
						text-decoration: none;
						position: relative;
						img {
							max-width: 100%;
							width: 100%;
							vertical-align: middle;
							display: inline-block;
							position: absolute;
							top: 50%;
							left: 0;
							right: 0;
							margin: 0 auto;
							transform: translateY(-50%);
						}
						span {
							display: none;
						}
					}
				}
				.switcher-wrapper {
					display: block;
					width: 100%;
					padding-top: 10px;
					.switcher-inner {
						background-color: $color-blue-bright;
						height: 3px;
						width: 10px;
						display: block;
					}
				}
			}
		}
	}

  .popup-close {
    display: none;
  }

	@media screen and (max-width: $bp1280) {
    .content-wrapper {
      .fullscreen-mode-icon {
        display: none;
      }
    }
		.item-wrapper {
			.image-container {
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	@media screen and (max-width: $bp720) {
		.item-wrapper {
			padding-top: 65.625%;
			.image-container {
				img {
					//max-width: none;
				}
			}
		}
	}

	@media screen and (max-width: $bp496) {
		.details {
			padding: 20px 55px 20px 20px;
			.description {
				font-size: 14px;
			}
		}
		.thumbnails-wrapper {
			height: 108px;
			.scrolling-panel {
				height: 130px;
				.thumbnails-list {
					height: 108px;
					padding: 25px 25px 45px 25px;
					.item {
						width: 45px;
						height: 38px;
						a {
							line-height: 38px;
						}
					}
				}
			}
		}
	}
}

.molecule-lb-827.image-gallery:fullscreen {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  .slick-next {
    right: 10px !important;
    [dir="rtl"] & {
	    right: auto!important;
	    left: 10px;
	}
  }
  .slick-prev {
    left: 10px !important;
    [dir="rtl"] & {
	    right: 10px;
	    left: auto!important;
	}
  }
  .popup-close {
    display: block;
    top: 22px;
    right: 22px;
  }
  .content-wrapper {
    .fullscreen-mode-icon {
      margin-top: -55px;
      right: 10px;
      [dir="rtl"] & {
        right: auto;
        left: 10px;
      }
    }
  }
  .item-wrapper {
    max-width: 100%;
    .image-container {
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}
