.main-nav-835 {
  height: 75px;
  @media screen and (max-width: $bp960) {
    height: 50px;
  }
  .span24,
  .row {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}

.molecule-lb-835:not(.appearance-theme-2) {
  height: 75px;
  width: 100%;
  position: relative;
  z-index: 3;
  background: $color-lighter-grey;
  border-bottom: 1px solid $color-lighter-grey2;
  nav > ul {
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    > li {
      line-height: 0;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      &:not(.drop-link) * {
        font-size: 1.125rem;
        letter-spacing: .2rem;
      }
      &:not(:first-child):before {
        content: '|';
        color: #DFDFDF;
        display: inline-block;
        position: absolute;
        line-height: 25px;
        width: 0;
        height: 25px;
        left: 0;
        margin-left: -3px;
        top: 24px;
        [dir="rtl"] & {
          left: auto;
          right: 0;
          margin-right: -3px;
        }
      }
      > a:not(.button) {
        display: block;
        height: 75px;
        padding: 0 25px;
        display: block;
        text-align: center;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        background-color: none;
        line-height: 25px;
        letter-spacing: 2px;
        white-space: nowrap;
        span {
          white-space: normal;
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
          position: relative;
          &:after {
            content: '';
            display: block;
            height: 2px;
            width: 0;
            left: 0;
            position: absolute;
            right: 0;
            bottom: -7px;
            margin: 0 auto;
            background: $color-blue;
            transition: all .3s ease;
          }
        }
        &:before {
          height: 100%;
          content: '';
          display: inline-block;
          vertical-align: middle;
        }
        &:hover span:after {
          width: 40px;
        }
        &.active span:after {
          width: 40px;
          background: $color-black!important;
        }
      }
      .button {
        border: none;
        margin-top: 0;
      }
      &.small-btn,
      &.drop-link {
        padding: 0 25px;
        .molecule-lb-406 {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
  &.button-placeholder-style {
    a.button {
      @media screen and (max-width: $bp960) {
        padding: 0 10px;
      }
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translate3d(0, 0, 0);
  }
  .molecule-lb-406 {
    .dropdown-menu {
      left: auto;
      transform: none;
      right: 0;
    }
    &.outside-left-edge .dropdown-menu {
      left: 0;
      right: auto;
      transform: none;
    }
    &.outside-right-edge .dropdown-menu {
      left: auto;
      right: 0;
      transform: none;
    }
  }
  .mobile-nav {
    position: relative;
    display: flex;
    .btn-wrapper {
      flex-grow: 0;
      line-height: 0;
      padding: 10px 20px;
      position: relative;
      text-align: right;
      .button {
        margin: 0;
        height: 30px;
        line-height: 27px;
        min-width: 97px;
        span {
          font-size: 1rem;
        }
      }
      .molecule-lb-406 {
        height: 30px;
        margin-top: 0;
        margin-bottom: 0;
        .clickable {
          height: 30px;
        }
        .dropdown-toggle {
          > .label {
            line-height: 30px;
            padding: 0 40px 0 20px;
            &:after {
              right: 17px;
            }
          }
        }
        .js-dd-trigger {
          min-width: 0;
        }
      }
    }
    .drop {
      position: absolute;
      display: none;
      top: 100%;
      width: 100%;
      background: $color-lighter-grey;
      border-bottom: 1px solid $color-lighter-grey2;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
      ul,
      li {
        display: block;
        padding-left: 0;
        margin: 0;
      }
      li {
        &.drop-link,
        &.small-btn {
          display: none;
        }
      }
      li:not(:first-child) {
        a {
          display: block;
          position: relative;
          &:after {
            position: absolute;
            top: 0;
            left: 25px;
            right: 25px;
            height: 1px;
            background: $color-lighter-grey2;
            content: '';
            display: block;
          }
        }
      }
      a {
        &.active {
          color: $color-blue;
        }
        span {
          font-size: .875rem;
        }
      }
    }
    .anchors {
      height: 50px;
      flex-grow: 1;
      min-width: 0;
      a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        background-color: none;
        line-height: 25px;
        font-size: 1rem;
        letter-spacing: .1rem;
        position: relative;
        display: inline-block;
        padding: 12px 40px 12px 20px;
      }
      > a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        &:after {
          content: '';
          display: block;
          border-right: 1px solid $color-grey;
          border-bottom: 1px solid $color-grey;
          width: 12px;
          height: 12px;
          position: absolute;
          right: 10px;
          transform: rotate(45deg);
          top: 15px;
        }
      }
    }
    &.active {
      .anchors {
        > a:after {
          top: 22px;
          border: none;
          border-top: 1px solid $color-grey;
          border-left: 1px solid $color-grey;
        }
      }
    }
    @media screen and (min-width: $bp960 + 1) {
      display: none;
    }
  }
  @media screen and (max-width: $bp960) {
    height: 50px;
    nav > ul {
      display: none;
    }
  }
}

.main-nav-835-theme-2 {
  background: #f2f2f2;
  .span24,
  .row {
    padding-left: 0!important;
    padding-right: 0!important;
    height: 100px;
  }
  .molecule-lb-835 {
    background: #f2f2f2;
    display: block;
    height: 100%;
    .inner-wrapper {
      height: 100px;
      display: flex;
      justify-content: space-between;
      padding: 0 75px;
      height: 100%;
      min-height: 100px;
      width: 100%;
      text-align: center;
      max-width: 1430px;
      margin-left: auto;
      margin-right: auto;
    }
    h3, h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 24px;
      line-height: 1.5;
      color: #5a5a5a;
      letter-spacing: 6px;
      text-transform: uppercase;
      a {
        color: inherit;
        text-decoration: none;
        display: block;
      }
    }
    nav {
      margin: 0;
      ul {
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          a {
            font-size: 16px;
            padding: 10px 15px;
            display: block;
            max-width: 300px;
            color: $color-black;
            min-width: 35px;
            position: relative;
            text-decoration: none;
            &:after {
              content: '';
              height: 2px;
              display: block;
              max-width: 0;
              position: absolute;
              left: 0;
              right: 0;
              margin: 0 auto;
              bottom: 0;
              background-color: $color-black;
              transition: max-width .3s ease;
            }
            &.active,
            &:hover {
              font-weight: bold;
              @media screen and (min-width: 800px) {
                &:after {
                  max-width: 35px;
                }
              }
            }
            > * {
              color: inherit;
            }
          }
        }
      }
    }
    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      transform: translate3d(0, 0, 0);
      min-height: 100px;
      height: auto;
      background: #f2f2f2;
    }
    @media screen and (max-width: 800px) {
      .inner-wrapper {
        display: block;
        padding: 0;
      }
      h3, h1 {
        display: block;
        padding: 0 20px;
        > * {
          display: block;
          padding: 12px 0;
        }
      }
      nav {
        border-top: 1px solid $color-light-grey3;
        padding: 0 20px;
        ul {
          align-items: flex-start;
        }
      }
    }
    @media screen and (max-width: 496px) {
      nav {
        ul li a {
          padding: 11px 5px;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .span24,
    .row {
      height: auto;
    }
  }
}
