.molecule-lb-830 {
  position: relative;
  height: 74px;
  z-index: 5;
  .nav-activation-molecule-830 {
    background: $color-lighter-grey;
    > .level2 {
      /*issue with blinking on first page load*/
      display: none;
    }
  }
  /*remove some old html issues*/
  .top-corner {
    display: none;
  }
  @media screen and (max-width: $bp720) {
    height: 56px;
  }
  .selectable {
    margin: 0;
    .expand-area {
      padding: 0;
      .js-menu {
        padding: 0 20px 10px 20px;
      }
    }
  }
  .level2 {
    white-space: nowrap;
    margin: 0;
    li {
      a {
        display: block;
      }
      &.selectable {
        >a {
          &:after {
            position: relative;
            content: "+";
            font-family: "Courier New";
            font-size: 1.5rem;
            line-height: 0;
            font-weight: 300;
            margin-left: 10px;
            top: 1px;
          }
          &.active:after {
            content: '-';
          }
        }
      }
    }
  }
  a {
    color: $color-black;
    text-decoration: none;
  }
  nav {
    &.sticky {
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
    }
    .title {
      border-bottom: 1px solid $color-lighter-grey6;
      >h1 {
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
      }
      >h4,
      &>h1 {
        max-width: $bp1280;
        margin: 0 auto;
        line-height: 0;
        a {
          line-height: 1.25;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          position: relative;
          display: inline-block;
          padding-right: 40px;
          &:after {
            content: '';
            display: block;
            border-right: 1px solid $color-black;
            border-bottom: 1px solid $color-black;
            width: 13px;
            height: 13px;
            position: absolute;
            right: 10px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 2px;
          }
          &.active {
            &:after {
              top: 10px;
              border: none;
              border-top: 1px solid $color-black;
              border-left: 1px solid $color-black;
            }
          }
        }
        @media screen and (min-width: $bp720) {
          padding: 24px 31px;
          font-size: 1.25rem;
          letter-spacing: 0.2rem;
        }
      }
    }
    .nav-wrapper {
      padding: 0 31px;
      margin: 0 auto;
      max-width: $bp1280;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%; //display: flex;
      display: none;
      .level3-container {
        display: none;
      }
      @media screen and (min-width: $bp720) {
        a {
          transition: color .3s ease;
        }
        .level3-container .expand-area.active,
        .level1-container {
          padding-bottom: 30px;
          padding-top: 30px;
        }
        .level2 {
          >li {
            >a {
              font-size: 1.125rem;
              letter-spacing: 0.1rem;
              line-height: 1.25;
              padding: 15px 0;
            }
          }
          &:hover,
          &.active {
            >li>a {
              color: $color-light-grey4;
              &:hover,
              &.active {
                color: $color-black;
              }
            }
          }
        }
        .level1-container {
          display: flex;
          align-items: flex-start;
          flex-grow: 0;
          padding-right: 40px;
        }
        .level3-container {
          flex-basis: 0;
          flex-grow: 1;
          min-width: 0;
          overflow: hidden;
          padding-left: 40px;
          border-left: 1px solid $color-lighter-grey6;
          display: block;
          .expand-area {
            display: block!important;
            visibility: hidden;
            overflow: hidden;
            height: 0;
            opacity: 0;
            position: absolute;
            transition: opacity .3s ease;
            transition: opacity 600ms, visibility 600ms;
            &.active {
              visibility: visible;
              opacity: 1;
              position: static;
              height: auto;
            }
          }
          .level3>ul {
            margin-top: 10px;
            display: inline-block;
            vertical-align: top;
            >li>a {
              display: block;
              padding: 5px 0;
              font-size: 1.125rem;
              line-height: 1.25;
              letter-spacing: 0.05rem;
            }
            &:hover {
              >li>a {
                color: $color-light-grey4;
                &:hover {
                  color: $color-black;
                }
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: $bp720) {
      .level1-container {
        width: 100%;
      }
      .nav-wrapper {
        padding: 0 20px;
        .level2 {
          >li {
            border-top: 1px solid $color-lighter-grey6;
            &:first-child {
              border: none;
            }
            >a {
              letter-spacing: 0.05rem;
              padding: 15px 0;
              font-size: 1rem;
              line-height: 1.25;
            }
          }
        }
      }
      .title {
        position: relative;
        z-index: 1;
        padding: 15px 20px;
        border-bottom: 1px solid $color-lighter-grey6;
        h4,
        h1 {
          a {
            font-size: 1.125rem;
            &:after {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
      .level3 {
        li>a {
          font-size: 1rem;
          line-height: 1.25;
          letter-spacing: 0.05rem;
          padding: 10px 0;
        }
      }
    }
  }
  &.no-submenu nav .title {
    > h4, & > h1 {
      a {
        cursor: default;        
        &:after {          
          display: none;
        }
      }
    }
  }
}
