.molecule-lb-802 {
  .contents {
    opacity: 0;
    height: 400px;
    transition: opacity .3s ease;
    &.ready {
      opacity: 1;
      height: auto;
    }
  }
  .triggers-wrapper {
    height: 70px;
    overflow: hidden;
    text-align: center;
  }
  .triggers {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow: auto;
    height: 100px;
    nav {
      white-space: nowrap;
      display: inline-block;
      vertical-align: top;
      position: relative;
      border-bottom: 2px solid $color-lighter-grey2;
    }
    .triggers-mover {
      position: relative;
      display: block;
      margin-top: -2px;
      span {
        opacity: 0;
        background: $color-blue;
        height: 2px;
        width: 100px;
        display: block;
        &.ready {
          transition: all .3s ease;
          opacity: 1;
        }
      }

    }
    a {
      display: inline-block;
      height: 63px;
      position: static;
      max-width: initial;
      color: #5a5a5a;
      text-decoration: none;
      border-bottom: none;
      padding: 0;
      margin: 0 0 0 60px;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      line-height: 80px;
      font-weight: bold;
      transition: color .3s ease;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        color: $color-blue;
      }
    }
  }

  /*HELPERS temporary*/
  .molecule-lb-xxx {
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
