.section.scroll-to-section-arrow {
  position: relative;
  box-sizing: content-box;
  padding-bottom: 90px;

  @media screen and (max-width: $bp1280) {
    padding-bottom: 75px;
  }
  @media screen and (max-width: $bp720) {
    padding-bottom: 80px;
  }

  .scroll-to-next {
    position: absolute;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      -webkit-transform: scale(1.15);
      transform: scale(1.15);
    }

    @media screen and (max-width: $bp1280) {
      bottom: 25px;
    }
    @media screen and (max-width: $bp720) {
      bottom: 20px;
    }

    svg {
      width: 50px;
      height: 50px;
      .circle-arrow-down {
        stroke: $color-light-black2;
      }
    }
  }

  &.font-color-theme1,
  &.bkg-color-light-black,
  &.font-color-theme1.font-color-theme1-mobile {
    .scroll-to-next {
      svg {
        .circle-arrow-down {
          stroke: $color-white;
        }
      }
    }
  }

  &:not([class*="preserve-row-content"]) {
    .scroll-to-next {
      svg {
        .circle-arrow-down {
          @media screen and (max-width: $bp1280 - 1px) {
            stroke: $color-light-black2;
          }
        }
      }
    }
  }
  &.preserve-row-content-above-720 {
    .scroll-to-next svg .circle-arrow-down {
      @media screen and (max-width: $bp720) {
        stroke: $color-light-black2;
      }
    }
  }

  &.preserve-row-content-above-960 {
    .scroll-to-next svg .circle-arrow-down {
      @media screen and (max-width: $bp960) {
        stroke: $color-light-black2;
      }
    }
  }

  &.arrow-above-1280 {
    @media screen and (max-width: $bp1280) {
      box-sizing: border-box;
      padding-bottom: 0;
    }
  }

  &.arrow-below-1280 {
    @media screen and (min-width: $bp1280) {
      box-sizing: border-box;
      padding-bottom: 0;
    }
  }

  &.arrow-above-720 {
    @media screen and (max-width: $bp720) {
      box-sizing: border-box;
      padding-bottom: 0;
    }
  }

  &.arrow-below-720 {
    @media screen and (min-width: $bp720) {
      box-sizing: border-box;
      padding-bottom: 0;
    }
  }
}
