.disclaimer-content {
  @extend .footnotes;

  &__wrapper {
    display: block;
    padding: 20px 30px 30px;
  }

}

.molecule-ocmhpifootnotes {
  display: block;
  background-color: $color-lighter-grey3;
  width: 100%;

  &__wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

}

/* ================================ */
/* ========= FLEX FIXES =========== */
/* ================================ */
.molecule-ocmhpifootnotes-section.section {
  text-align: unset;

  .row {
    padding: 0;
    margin: 0;
    max-width: none;
  }

  [class*="span"] {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: $bp720) {
  .disclaimer-content__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .molecule-ocmhpifootnotes-section {
    [class*="molecule"] {
      text-align: unset;
    }
  }

  .responsive .molecule-ocmhpifootnotes {
    br {
      display: inline;
    }
  }
}

.molecule-lb-209 {
  .disclaimer-header {
    display: none;
  }
  .disclaimer-content__wrapper {
    overflow: auto;
  }
  &:not(:last-child) {
    .disclaimer-content__wrapper {
      padding-bottom: 0;
    }
  }
  &:last-child:not(:first-child) {
    .disclaimer-content__wrapper {
      padding-top: 0;
    }
  }
  &:not(:first-child) {
    margin-top: 0;
  }
  &:not(:first-child):not(:last-child) {
    .disclaimer-content__wrapper {
      padding-top: 0;
    }
  }
}