.content-overlay {
  background: $color-white;
  margin: 100px auto;

  @media screen and (max-width: $bp720) {
    margin: 54px auto;
  }

  &.overlay-popup {
    width: 1380px;
    max-width: 73%;
    position: static;
    @media screen and (max-width: $bp720) {
      max-width: 100%;
    }
    .popup-close {
      position: fixed;
      top: 42px;
      right: 42px;
      width: 33px;
      height: 33px;
      display: none;
      @media screen and (max-width: $bp1280) {
        top: 30px;
        right: 30px;
      }
      @media screen and (max-width: $bp960) {
        top: 20px;
        right: 20px;
      }
      @media screen and (max-width: $bp720) {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 30px;
        height: 30px;
        background-color: #000;
        border-radius: 50%;
        opacity: 0.5;
        &:before,
        &:after {
          top: 15px;
          left: 4px;
          width: 22px;
          height: 1px;
        }
      }
    }
    .slick-slider:not(.default) {
      .slick-arrow {
        height: 60px;
        width: 60px;
        background-color: black;
        border-radius: 50%;
        border: none;
        opacity: .5;
        transform: none;
        transition: opacity .3s ease, background-color .3s ease;
        &.animate-top {
          transition: opacity .3s ease, top .3s ease, background-color .3s ease;
        }
        &:not(.slick-disabled):hover {
          opacity: .8;
          @media screen and (min-width: $bp720) {
            background-color: $color-blue-bright;
          }
        }
        &:before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &.slick-disabled {
          opacity: .3;
          cursor: default;
        }
        @media screen and (max-width: $bp1280) {
          height: 54px;
          width: 54px;
          &:before {
            width: 17px;
            height: 17px;
          }
        }
        @media screen and (max-width: $bp960) {
          height: 45px;
          width: 45px;
          &:before {
            width: 15px;
            height: 15px;
          }
        }
        @media screen and (max-width: $bp720) {
          opacity: .7;
        }
      }
      .slick-arrow.slick-next {
        right: -9%;
        text-align: left;
        &:before {
          margin-left: 15px;
          border-top: 1px solid #fff;
          border-right: 1px solid #fff;
        }

        @media screen and (max-width: $bp1280) {
          [dir="rtl"] & {
            &:before {
              margin-left: 22px!important;
            }
          }
        }
        @media screen and (max-width: $bp960) {
          right: -10%;
          &:before {
            margin-left: 12px;
          }
          [dir="rtl"] & {
            left: -10%!important;
            right: auto;
            &:before {
              margin-left: 20px!important;
            }
          }
        }
        @media screen and (max-width: $bp720) {
          right: 1%;
          [dir="rtl"] & {
            left: 1%!important;
            right: auto;
          }
        }

        [dir="rtl"] & {
          left: -9%;
          right: auto;
          &:before {
            margin-left: 25px;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            border-top: none;
            border-right: none;
          }
        }
      }
      .slick-arrow.slick-prev {
        left: -9%;
        text-align: right;
        &:before {
          margin-right: 15px;
          border-bottom: 1px solid #fff;
          border-left: 1px solid #fff;
        }
        @media screen and (max-width: $bp1280) {
          [dir="rtl"] & {
            &:before {
              margin-right: 22px!important;
            }
          }
        }
        @media screen and (max-width: $bp960) {
          left: -10%;
          &:before {
            margin-right: 12px;
          }
          [dir="rtl"] & {
            left: auto;
            right: -10%!important;
            &:before {
              margin-right: 20px!important;
            }
          }
        }
        @media screen and (max-width: $bp720) {
          left: 1%;
          [dir="rtl"] & {
            left: auto;
            right: 1%!important;
          }
        }
        [dir="rtl"] & {
          left: auto;
          right: -9%;
          &:before {
            margin-right: 25px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            border-bottom: none;
            border-left: none;
          }
        }
      }
    }
    /*default means regular arrows appearance*/
    .slick-slider.default {
      .slick-arrow {
        width: 20px;
        height: 20px;
        &.animate-top {
          transition: opacity .3s ease, top .3s ease;
        }
      }
      .slick-prev {
        left: -17px;
      }
      .slick-next {
        right: -17px;
      }
    }
  }

  &.opened {
    &.overlay-popup {
      .popup-close {
        display: block;
      }
    }
  }
}

.section.content-overlay {
  display: none;
}
