.ambient-video-section {
  position: relative;
  > .row {
    position: relative;
  }
  .ambient-video-wrapper {
    background: $color-black;
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    video {
      opacity: 0.01;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      transition: opacity 1s ease;
    }
  }
  &.video-loaded {
    .ambient-video-wrapper video {
      opacity: 1;
    }
  }
  @media screen and (max-width: $bp720) {
    .ambient-video-wrapper {
      display: none;
    }
  }
  &:not([class*="preserve-row-content"]) {
    @media screen and (max-width: $bp1280 - 1px) {
      .ambient-video-wrapper {
        min-height: 400px;
      }
    }
  }
  &.preserve-row-content-above-960 {
    @media screen and (max-width: $bp960 + 1px) {
      .ambient-video-wrapper {
        min-height: 400px;
      }
    }
  }
}