.molecule-lb-413 {
  > ul {
    margin: 0;
    > li {
      padding: 25px 0;
      a {
        display: table;
        text-decoration: none;
        > * {
          display: table-cell;
        }
        span {
          vertical-align: middle;
          padding-left: 2rem;
          color: $color-grey;
          transition: color .4s ease;
          font-size: 1.25rem;
          letter-spacing: 0;
          @media screen and (min-width: $bp960) {
            letter-spacing: 0.5px;
            font-size: 1.5rem;
          }
          [dir="rtl"] & {
            padding-left: 0;
            padding-right: 2rem;
          }
        }
        img {
          display: block;
        }
        &[href*="javascript"] {
          cursor: default;
          span {
            color: $color-dark-grey;
          }
          &:hover {
            span {
              color: $color-dark-grey;
            }
          }
        }
        &:hover {
          span {
            color: $color-black;
          }
        }
      }
    }
  }
  &.content-valign-miggle {
    > ul > li > a * {
      vertical-align: middle;
    }
  }
  &.align-module-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  &.reduce-text-spacings {
    > ul > li a span {
      padding-left: 1rem;
    }
    &.image-right {
      > ul > li a span {
        padding-right: 1rem;
      }
    }
  }
  &.image-right {
    > ul > li a {
      direction: rtl;
      [dir="rtl"] & {
        direction: ltr;
      }
      * > {
        direction: ltr;
      }
      span {
        padding-right: 2rem;
        padding-left: 0;
        [dir="rtl"] & {
          padding-right: 0;
          padding-left: 2rem;
        }
      }
    }
  }
  &.text-right {
    > ul > li {
      &:after {
        content: '';
        clear: both;
        display: table;
      }
      a {
        float: right;
        [dir="rtl"] & {
          float: left;
        }
      }
    }
  }
  &.reduce-vertical-spacing {
    > ul {
      margin: 0;
      > li {
        padding: 5px 0;
      }
    }
  }
  &.appearance-theme-2 {
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    > ul {
      margin: 0;
      > li {
        padding: 10px 0;
        a {
          display: block;
          overflow: hidden;
          position: relative;
          background-size: cover;
          background-position: center top;
          background-repeat: no-repeat;
          background-color: $color-light-grey;
          height: 300px;
          opacity: 1;
          transition: opacity .3s ease;
          &:hover {
            opacity: .95;
          }

          img {
            display: none;
          }
          span {
            background-color: #fff;
            width: auto;
            display: inline;
            position: absolute;
            bottom: 20px;
            padding: 5px 10px;
            color: #5b5b5b;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
    &.initialized {
      opacity: 1;
    }
  }
}
