.section-with-tabs {
  //height: 80px;
  @media screen and (max-width: $bp960) {
    //height: 60px;
  }
  .span24,
  .row {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}

.tab-content {
  position: absolute;
  left: -111222px;
  top: -111222px;
  &.content-theme-2 {
    opacity: 0;
    transition: opacity 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  }
  &.tab-content-active {
    position: relative;
    left: 0;
    top: 0;
    &.content-theme-2 {
      opacity: 1;
    }
  }
}

[dir="rtl"] {
  .tab-content {
    left: auto;
    right: -111222px;
    &.tab-content-active {
      right: 0;
    }
  }
}

.molecule-lb-836 {
  height: 80px;
  .sticky-wrapper {
    width: 100%;
    position: relative;
    background: $color-lighter-grey;
    border-bottom: 1px solid $color-lighter-grey2;
    border-top: 1px solid $color-lighter-grey2;
    z-index: 3;
    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      transform: translate3d(0, 0, 0);
    }
  }
  nav {
    height: 80px;
    padding: 0 5%;
    text-align: center;
    >ul {
      display: table;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      * {
        font-size: 1.125rem;
        letter-spacing: .2rem;
      }
      li {
        line-height: 0;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        max-width: 0;
        height: 100%;
        &:not(:first-child):before {
          content: '|';
          color: #DFDFDF;
          display: inline-block;
          position: absolute;
          line-height: 27px;
          font-size: 27px;
          width: 0;
          height: 27px;
          left: 0;
          margin-left: -3px;
          top: 27px;
          [dir="rtl"] & {
            left: auto;
            right: 0;
            margin-right: -3px;
          }
        }
        &.active-tab,
        &:hover {
          background-color: #dfdfdf;
          &:before {
            display: none;
          }
          &+li {
            &:before {
              display: none;
            }
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              background-color: #fcfcfc;
              width: 3px;
              height: 100%;
            }
          }
        }
      }
    }
  }
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 27px;
    color: black;
    text-decoration: none;
    background-color: transparent;
    line-height: 25px;
    letter-spacing: 2px;
    span {
      //display: table-cell;
      //vertical-align: middle;
    }
  }
  .mobile-tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    height: 60px;
    .drop {
      position: absolute;
      display: none;
      top: 100%;
      width: 100%;
      background: $color-lighter-grey;
      border-bottom: 1px solid $color-lighter-grey2;
      border-top: 1px solid $color-lighter-grey2;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
      ul,
      li {
        display: block;
        padding-left: 0;
        margin: 0;
        &.active-tab {
          a {
            color: $color-blue;
            span {
              font-size: .875rem;
            }
          }
        }
        &:not(:first-child) {
          a {
            display: block;
            position: relative;
            &:after {
              position: absolute;
              top: 0;
              left: 25px;
              right: 25px;
              height: 1px;
              background: $color-lighter-grey2;
              content: '';
              display: block;
            }
          }
        }
      }
    }
    .mobile-tabs-container {
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        font-size: 1rem;
        letter-spacing: .1rem;
        position: relative;
        display: inline-block;
        padding: 12px 40px 12px 20px;
      }
      >a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        padding: 0 27px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:after {
          content: '';
          display: block;
          border-right: 1px solid $color-grey;
          border-bottom: 1px solid $color-grey;
          width: 12px;
          height: 12px;
          position: absolute;
          right: 25px;
          transform: rotate(45deg);
          top: 20px;
          [dir="rtl"] & {
            right: auto;
            left: 25px;
          }
        }
      }
    }
    &.mob-active {
      .mobile-tabs-container {
        >a:after {
          top: 22px;
          border: none;
          border-top: 1px solid $color-grey;
          border-left: 1px solid $color-grey;
        }
      }
    }
    @media screen and (min-width: $bp960 + 1) {
      display: none;
    }
  }

  @media screen and (max-width: $bp1280) {
    nav {
      padding: 0 3%;
    }
  }

  @media screen and (max-width: $bp960) {
    height: 60px;
    nav {
      height: 0;
      >ul {
        display: none;
      }
    }
  }
}

.section-with-tabs-theme-2 {
  .span24,
  .row {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}

.molecule-lb-836.appearance-theme-2 {
  border: none;
  margin-bottom: 25px;
  .sticky-wrapper {
    border: none;
  }
  nav {
    padding: 0;
    width: 100%;
    height: 80px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    * {
      transition: all 0.3s ease-in-out;
    }
    .scrolling-panel {
      width: 100%;
      height: 150px;
      max-width: 1280px;
      margin: 0 auto;
      overflow-x: scroll;
      transition: none;
    }
    ul {
      display: inline-block;
      width: auto;
      padding: 0 25px;
      margin: 0;
      white-space: nowrap;
      height: 80px;
      * {
        font-size: 1.125rem;
        letter-spacing: .1rem;
      }
      li {
        display: inline-block;
        margin-left: 60px;
        height: 80px;
        position: static;
        max-width: initial;
        &:first-child {
          margin-left: 0;
        }
        &:before {
          display: none;
        }
        [dir="rtl"] & {
          margin-left: 0;
          margin-right: 60px;
          &:first-child {
            margin-right: 0;
          }
        }
        a {
          color: #5a5a5a;
          text-decoration: none;
          border-bottom: none;
          padding: 0;
          margin: 0;
          white-space: nowrap;
          cursor: pointer;
          display: inline-block;
          line-height: 80px;
          font-weight: bold;
          &:hover {
            color: $color-blue;
          }
        }
        &.active-tab {
          a {
            color: #000000;
            &:hover {
              color: $color-blue;
            }
          }
        }
      }
      .underline-slider {
        position: relative;
        display: block;
        margin-top: -17px;
        height: 2px;
        background-color: $color-lighter-grey2;
        .switcher {
          background-color: $color-blue;
          height: 2px;
          width: 100px;
          display: block;
        }
      }
    }
  }
  @media screen and (max-width: $bp960) {
    nav {
      height: 60px;
      ul {
        height: 60px;
        li {
          height: 60px;
          a {
            line-height: 60px;
          }
        }
        .underline-slider {
          margin-top: -7px;
        }
      }
    }
  }
}
