body.no-scroll {
  overflow: hidden;
}

.overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: center;
  height: 0;
  overflow: hidden;
  /*header has 99999*/
  z-index: 100000;
  transition: background-color .3s ease;
  &.opened {
    display: block;
    background-color: rgba(0, 0, 0, .8);
    overflow: auto;
    height: 100%;
  }
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 0;
  }
  [dir="rtl"] & {
    direction: ltr;
  }
}

.overlay-popup {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  z-index: 12;
  width: 1280px;
  max-width: 100%;
  .spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-black;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50px;
      width: 50px;
      margin-top: -25px;
      margin-left: -25px;
      background: url(../../../i/common/spinner.gif) 50% 50% no-repeat;
      background-size: 100%;
    }
  }
  .popup-close {
    position: absolute;
    top: -50px;
    right: 10px;
    display: block;
    width: 34px;
    height: 34px;

    @media screen and (min-width: $bp960 + 100px) {
      right: -50px;
    }

    &:before, &:after {
      position:absolute;
      content: '';
      top: 16px;
      left: 0;
      display: block;
      width: 34px;
      height: 1px;
      background-color: $color-white;
      transition: background-color .3s;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover:before,
    &:hover:after {
      background-color: $color-blue;
    }
  }
  &.content-overlay {
    .popup-close {
      right: 10px;
      top: 10px;
      z-index: 1;
    }
  }
  [dir="rtl"] & {
    direction: rtl;
  }
}

/*.overlay-background {
  position: fixed;
  top: 0;
  left: -99999px;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, .8);

  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;

  &.opened {
    left: 0;
    opacity: 1
  }
}*/
