@mixin font-h1() {
  font-size: 2.25rem;
  line-height: 1.3;
  letter-spacing: 0.2rem;
  @media screen and (min-width: $bp1280) {
    font-size: 3.375rem;
    letter-spacing: 0.3rem;
  }
  + * {
    margin-top: 1rem;
    @media screen and (min-width: $bp1280) {
      margin-top: 1.25rem;
    }
  }
  &:not(:first-child) {
    margin-top: .375rem;
    @media screen and (min-width: $bp1280) {
      margin-top: .5rem;
    }
  }
}

@mixin font-h2() {
  font-size: 1.875rem;
  line-height: 1.3;
  letter-spacing: 0.2rem;
  @media screen and (min-width: $bp1280) {
    font-size: 2.75rem;
    letter-spacing: 0.3rem;
  }
  + * {
    margin-top: .75rem;
    @media screen and (min-width: $bp1280) {
      margin-top: 1rem;
    }
  }
  &:not(:first-child) {
    margin-top: .375rem;
    @media screen and (min-width: $bp1280) {
      margin-top: .5rem;
    }
  }
}

@mixin font-h3() {
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
  @media screen and (min-width: $bp1280) {
    font-size: 2.125rem;
    letter-spacing: 0.2rem;
  }
  + * {
    margin-top: .75rem;;
    @media screen and (min-width: $bp1280) {
      margin-top: 1rem;
    }
  }
  &:not(:first-child) {
    margin-top: .375rem;
  }
}

@mixin font-h4() {
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
  @media screen and (min-width: $bp1280) {
    font-size: 1.5rem;
  }
  + * {
    margin-top: .625rem;
  }
}

@mixin font-h5() {
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.05rem;
  @media screen and (min-width: $bp1280) {
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
  }
  + * {
    margin-top: .625rem;
  }
}

@mixin font-default() {
  font-size: 1.125rem;
  @media screen and (min-width: $bp1280) {
    font-size: 1.25rem;
    letter-spacing: 0.02rem;
  }
}

@mixin font-footnotes() {
  font-size: 0.875rem;
}

body {
  font-size: 100%;
  line-height: 1.5;
  font-family: 'HPSimplifiedLight', arial;
}
div.body {
  @include font-default();
  p {
    margin: .625rem 0;
    &:last-child:not(:first-child) {
      margin-bottom: 0;
    }
  }
  small, .small, .text-small * {
    font-size: 1rem;
  }

  .footnotes, .footnotes * {
    @include font-footnotes();
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0;
    sup {
      font-size: 50%;
      top: -1em;
    }
    span {
      font-size: inherit;
      letter-spacing: inherit;
    }
  }
  .small-caption, .tagline, [class*="font-style"] .small-caption, [class*="font-style"] .tagline {
    * {
      font-size: inherit;
      letter-spacing: inherit;
      line-height: inherit;
    }
  }

  h1 {
    @include font-h1();
  }

  .font-style-h1, [class*="font-style"] .font-style-h1 {
    h2, h3 {
      @include font-h1();
    }
    .small-caption, .tagline {
      @include font-h3();
    }
  }

  h2 {
    @include font-h2();
  }

  .font-style-h2, [class*="font-style"] .font-style-h2 {
    h1, h3 {
      @include font-h2();
    }
    .small-caption, .tagline {
      @include font-h4();
    }
  }

  h3 {
    @include font-h3();
  }

  .font-style-h3, [class*="font-style"] .font-style-h3 {
    h1, h2 {
      @include font-h3();
    }
    .small-caption, .tagline {
      @include font-h5();
    }
  }

  h4 {
    @include font-h4();
  }
  .font-style-h4, [class*="font-style"] .font-style-h4 {
    h1, h2, h3, h5 {
      @include font-h4();
    }
  }

  h5 {
    @include font-h5();
  }

  .font-style-h5, [class*="font-style"] .font-style-h5 {
    h1, h2, h3, h4 {
      @include font-h5();
    }
  }
}