.molecule-lb-406 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 3px;
  max-width: 100%;
  text-align: center;
  background-color: $color-blue;
  transition: background-color .3s ease;
  font-size: 1rem;
  letter-spacing: .1rem;
  height: 50px;
  .clickable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 100%;
    left: 0;
  }
  .js-dd-trigger {
    max-width: 100%;
    position: relative;
    min-width: 200px;
  }
  .dropdown {
    line-height: 0;
  }
  .dropdown-toggle {
    background-color: inherit;
    margin: 0;
    vertical-align: top;
    min-width: 0;
    cursor: default;
    letter-spacing: .1rem;
    padding: 0;
    max-width: 100%;
    line-height: 50px;
    color: $color-white;
    .label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      position: relative;
      display: block;
      padding: 0 50px 0 30px;
      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        right: 27px;
        top: 50%;
        margin-top: -4px;
        border-width: 8px 8px 0 8px;
        border-color: $color-white transparent transparent transparent;
      }
    }
  }
  .dropdown-menu {
    text-align: justify;
    background: white;
    margin: 0;
    position: absolute;
    top: 100%;
    min-width: 100%;
    left: 0;
    right: auto;
    display: none;
    z-index: 101;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-top: 1px;
    border-radius: 3px;
    line-height: 1.5;
    padding: 13px 0 40px 0;
    max-width: 280px;
    transition: max-width .3s ease;
    a {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    li>* {
      padding: 8px 30px;
      margin: 0;
      display: block;
    }
    li>.metalocator-buy-wrapper {
      padding: 0;
      >a {
        display: block;
        padding: 8px 30px;
      }
    }
    li a {
      transition: all .3s ease;
      &:hover {
        background: $color-lighter-grey7;
        color: $color-black;
        text-decoration: none;
      }
    }
    a,
    p,
    span {
      color: $color-dark-grey;
    }
    @media screen and (min-width: 496px) {
      max-width: 450px;
    }
  }
  &.active {
    background-color: $color-blue-dark;
    .dropdown-toggle .label {
      &:after {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent $color-white transparent;
      }
    }
    .dropdown-menu {
      display: block;
    }
  }
  &.secondary-theme {
    background-color: $color-white;
    border: 1px solid $color-blue;
    &.active {
      background-color: $color-blue-dark;
    }
    .dropdown-toggle {
      color: $color-blue;
      .label:after {
        border-color: $color-blue transparent transparent transparent;
        transition: border-color .3s ease;
      }
    }
    &.active {
      .dropdown-toggle {
        color: $color-white;
        .label:after {
          transition: none;
          border-width: 0 8px 8px 8px;
          border-color: transparent transparent $color-white transparent;
        }
      }
    }
  }

  @media screen and (max-width: $bp720) {
    letter-spacing: 0rem;
    .dropdown-toggle {
      letter-spacing: 0rem;
    }
  }

  &:not(.allow-text-wrap) {
    .dropdown-menu {
      white-space: nowrap;
    }
  }
  &.text-center {
    .dropdown-menu {
      text-align: center;
    }
  }
  &.text-right {
    .dropdown-menu {
      text-align: right;
      [dir="rtl"] & {
        text-align: left;
      }
    }
  }
  &.align-module-center,
  .text-center & {
    .dropdown-menu {
      left: 50%;
      transform: translateX(-50%);
    }
  } //fix for overlapping issue
  &.align-module-right,
  .text-right & {
    .dropdown-menu {
      left: auto;
      transform: none;
      right: 0;
    }
  }

  &[class*="align-module"] {
    opacity: 0;
    transition: opacity .3s ease, background-color .3s ease;
    &.initialized {
      opacity: 1;
    }
  }

  /*when only 1 option is in dropdown - it should look like a button*/
  &.enable-cta-appearance {
    .dropdown-toggle .label {
      padding: 0 30px;
      &:after {
        content: none;
      }
    }
    &.active {
      .dropdown-menu {
        display: none;
      }
    }
  }

  &.outside-left-edge .dropdown-menu {
    left: 0;
    right: auto;
    transform: none;
  }
  &.outside-right-edge .dropdown-menu {
    left: auto;
    right: 0;
    transform: none;
  }


  @media screen and (max-width: 400px) {
    .text-center &.align-module-right {
      .dropdown-menu {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
      }
    }
  }

  @media screen and (min-width: $bp720) {
    .clickable {
      cursor: pointer;
    }
  }
}

body {
  &:not(.lb-mobile) {
    .molecule-lb-406 {
      .dropdown-toggle {
        cursor: pointer;
      }
      &:hover {
        background-color: $color-blue-dark;
      }
      &.secondary-theme {
        &:hover {
          .dropdown-toggle {
            color: $color-white;
          }
        }
        &:not(.active):hover {
          .label:after {
            transition: none;
            border-color: $color-white transparent transparent transparent;
          }
        }
      }
    }
  }
}
