$video-overlay-max-width: $bp960;

.video-overlay {
  width: 100%;
  max-width: $video-overlay-max-width;

  h3, p {
    display: none;
  }

  .video-container {
    line-height: 0;
    position: relative;
    width: 100%;
    padding: 0 0 56.25% 0;
    &.js-brightcove-player {
      .bc-video-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        > div {
          outline: none;
          width: 100%;
          height: 100%;
        }
      }
      .bc-video-template {
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (orientation: landscape) and (max-width: $video-overlay-max-width + 80px) {
  .video-overlay {
    max-width: calc(100% - 80px);
  }
}
@media screen and (orientation: landscape) and (max-height: 650px) {
  .video-overlay .popup-close {
    top: -35px;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  .video-overlay .popup-close {
    top: 10px;
    right: -37px;
  }
}